button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: none;
}
.iu-button-container {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.iu-button-container .iu-button-button {
    box-sizing: content-box;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;
    color: currentColor;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s,
        border-color 0.3s, border-radius 0.3s;
    transition: background-color 0.3s, width 0.3s, border-width 0.3s,
        border-color 0.3s, border-radius 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.iu-button-container .iu-button-button span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.iu-button-container .iu-button-button > span {
    display: inherit;
    font-weight: 100;
    font-size: 2em;
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
}
.iu-button-container .iu-button-button > svg {
    position: absolute;
    width: 54px;
    height: 54px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.iu-button-container .iu-button-button > svg path {
    opacity: 0;
    fill: none;
}
.iu-button-container .iu-button-button svg.iu-button-progress-circle {
    -webkit-animation: a 0.9s infinite cubic-bezier(0.085, 0.26, 0.935, 0.71);
    animation: a 0.9s infinite cubic-bezier(0.085, 0.26, 0.935, 0.71);
}
.iu-button-container .iu-button-button svg.iu-button-progress-circle path {
    stroke: currentColor;
    stroke-width: 5;
}
.iu-button-container .iu-button-button svg.iu-button-checkmark path,
.iu-button-container .iu-button-button svg.iu-button-cross path {
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4;
}
.iu-button-container.disabled .iu-button-button {
    cursor: not-allowed;
}
.iu-button-container.loading .iu-button-button {
    padding: 0;
    width: 54px;
    border-width: 6.5px;
    border-color: #ddd;
    background-color: transparent;
    color: currentColor;
    cursor: wait;
}
.iu-button-container.loading .iu-button-button span {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.iu-button-container.loading
    .iu-button-button
    .iu-button-progress-circle
    > path {
    opacity: 1;
    -webkit-transition: opacity 0.15s 0.3s;
    transition: opacity 0.15s 0.3s;
}
.iu-button-container.success .iu-button-button {
    border-color: #a0d468;
    background-color: #a0d468;
}
.iu-button-container.success .iu-button-button span {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.iu-button-container.success .iu-button-button .iu-button-checkmark > path {
    opacity: 1;
}
.iu-button-container.error .iu-button-button {
    border-color: #ed5565;
    background-color: #ed5565;
}
.iu-button-container.error .iu-button-button span {
    display: none;
    opacity: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
.iu-button-container.error .iu-button-button .iu-button-cross > path {
    opacity: 1;
}
.iu-button-container.error,
.iu-button-container.loading,
.iu-button-container.success {
    width: 100% !important;
    height: 100% !important;
}
@-webkit-keyframes a {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}
@keyframes a {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn);
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
}
.iu-container,
.iu-container * {
    box-sizing: border-box;
}
.iu-container * {
    outline: none;
}
.iu-container.disabled .iu-loadContainer {
    cursor: not-allowed;
}
.iu-container.disabled .iu-loadContainer .iu-dropzone {
    background: transparent !important;
}
.iu-container.disabled .iu-deletePreview,
.iu-container.disabled .iu-label,
.iu-container.disabled .iu-loadContainer .iu-pseudobutton * {
    cursor: not-allowed;
}
.iu-imgPreview {
    position: relative;
    display: inline-block;
    margin: 5px 10px 5px 0;
    width: 100px;
    height: 100px;
    border: 1px solid #bec3c7;
    border-radius: 10px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: bottom;
}
.iu-deletePreview {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid #bec3c7;
    border-radius: 50%;
    background: #fff;
    font-size: medium;
    cursor: pointer;
}
.iu-fileInput {
    display: inline-block;
}
.iu-filesInputContainer {
    display: inline-block;
    margin: 5px 10px 5px 0;
    vertical-align: bottom;
}
.iu-loadContainer {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.iu-pseudobutton span {
    height: 100%;
}
.iu-pseudobutton span .iu-imgPreview {
    margin: 0;
}
.iu-dropzone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100% !important;
    height: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 10px !important;
}
.iu-dropzone:hover {
    background-color: #eee;
}
.iu-label {
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}
.iu-pseudobutton {
    margin-top: 0;
    width: 100px;
    height: 100px;
}
.iu-pseudobuttonContent {
    line-height: 1 !important;
}
.iu-notification {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #0abb87;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
}
.adList .pagination {
    justify-content: flex-end;
}
.adListFilter {
    display: flex;
    flex-direction: row;
    height: 45px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 0px;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.actionBtn.active,
.actionBtn:active,
.actionBtn:hover {
    background-color: #f0f3ff !important;
}

.statusBtn {
    height: 25px;
    line-height: 100%;
    position: relative;
}
.statusBtn i {
    position: absolute;
    right: 7px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 15px;
}
.statusBtn .casueStatus {
    width: 80px;
    height: 25px;
    font-size: 11px !important;
    border: 0px;
    /* background-color: rgba(29, 201, 183, 0.1);
    color: #1dc9b7; */
    /* -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none; */
    line-height: 100%;
    padding: 0;
    margin-right: 5px;
    box-shadow: 1px 1px 13px 2px #eee;
}
.DELETED {
    background-color: rgba(26, 28, 28, 0.21);
    color: #3d403f;
}
.APPROVED {
    background-color: rgba(29, 201, 183, 0.1);
    color: #1dc9b7;
}
.REJECTED {
    background-color: rgba(236, 168, 193, 0.52);
    color: #fd397a;
}
.UNDER_REVIEW {
    background-color: rgba(85, 120, 235, 0.46);
    color: #5578eb;
}
.DRAFT {
    background-color: rgba(255, 184, 34, 0.1);
    color: #ffb822;
}
.PUBLISHED {
    background-color: rgba(34, 234, 255, 0.19);
    color: #17a2b8;
}

.statusLabel {
    width: 80px;
    height: 25px;
    font-size: 13px;
    border: 0px;
    background-color: rgba(29, 201, 183, 0.1);
    color: #1dc9b7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adList .react-bootstrap-table .row-expansion-style {
    padding: 16px;
}
/* .adList .table-hover tbody tr:hover {
    background-color: transparent;
  } */
.adList td.expand-cell {
    vertical-align: middle;
}
.adList th.expand-cell-header {
    font-size: 0;
}
.expandingRow {
    background-color: rgba(235, 241, 255, 0.3);
}
.statusFilter {
    display: inline-block;
    width: 140px;
}
/* .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  } */

.react-bootstrap-table table {
  table-layout: fixed; }

.react-bootstrap-table th.sortable {
  cursor: pointer; }

.react-bootstrap-table th .order > .dropdown > .caret {
  margin: 10px 0 10px 5px;
  color: #cccccc; }

.react-bootstrap-table th .order > .dropup > .caret {
  margin: 10px 0;
  color: #cccccc; }

.react-bootstrap-table th > .react-bootstrap-table-sort-order > .caret {
  margin: 10px 6.5px; }

.react-bootstrap-table th .order-4:before {
  margin-left: 3.5px;
  content: "\2191";
  opacity: 0.4; }

.react-bootstrap-table th .order-4:after {
  content: "\2193";
  opacity: 0.4; }

.react-bootstrap-table th .caret-4-asc:before {
  margin-left: 3.5px;
  content: "\2191"; }

.react-bootstrap-table th .caret-4-asc:after {
  content: "\2193";
  opacity: 0.4; }

.react-bootstrap-table th .caret-4-desc:before {
  margin-left: 3.5px;
  content: "\2191";
  opacity: 0.4; }

.react-bootstrap-table th .caret-4-desc:after {
  content: "\2193"; }

.react-bootstrap-table th[data-row-selection] {
  width: 30px; }

.react-bootstrap-table th > .selection-input-4,
.react-bootstrap-table td > .selection-input-4 {
  margin: -4px; }

.react-bootstrap-table td.react-bs-table-no-data {
  text-align: center; }

.react-bootstrap-table td.react-bootstrap-table-editing-cell .animated {
  animation-fill-mode: both; }

.react-bootstrap-table td.react-bootstrap-table-editing-cell .animated.bounceIn,
.react-bootstrap-table td.react-bootstrap-table-editing-cell .animated.bounceOut {
  animation-duration: .75s; }

.react-bootstrap-table td.react-bootstrap-table-editing-cell .animated.shake {
  animation-duration: .3s; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 50%, 90% {
    transform: translate3d(-10px, 0, 0); }
  30%, 70% {
    transform: translate3d(10px, 0, 0); } }

.react-bootstrap-table td.react-bootstrap-table-editing-cell .shake {
  animation-name: shake; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.react-bootstrap-table td.react-bootstrap-table-editing-cell .bounceIn {
  animation-name: bounceIn; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.react-bootstrap-table td.react-bootstrap-table-editing-cell .bounceOut {
  animation-name: bounceOut; }

.react-bootstrap-table .reset-expansion-style {
  padding: 0; }

.react-bootstrap-table .row-expansion-style {
  padding: 8px; }

.react-bootstrap-table .row-expand-slide-appear {
  max-height: 0;
  overflow: hidden; }

.react-bootstrap-table .row-expand-slide-appear-active {
  max-height: 1000px;
  transition: max-height 3s linear; }

.react-bootstrap-table .row-expand-slide-exit {
  max-height: 1000px; }

.react-bootstrap-table .row-expand-slide-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms cubic-bezier(0, 0.95, 0, 0.95); }

/*# sourceMappingURL=all.css.map */
