/*
 @Author: Company Name
 @URL: http://companyname.com
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Menu
 04.	Social
 05.	Article
 06.	Posts
 07.	Responsive
 08.	Widgets
 09.	Flexslider
 10.	Grid
*/

/*==============================================
			Theme Reset Style					
==============================================*/
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
* {
  margin: 0px;
  padding: 0px;
}
body {
  color: #363b4d;
  overflow-x: hidden;
  background: #f7f7f7;
  font: 400 16px/26px "Quicksand", Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #363b4d;
  margin: 0 0 8px;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  text-transform: capitalize;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #363b4d;
}
p a,
p a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 20px;
  line-height: 26px;
  letter-spacing: normal;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}
ul {
  margin: 0;
}
figure {
  margin-bottom: 6px;
  position: relative;
}
img {
  height: auto;
  max-width: 100%;
}
strong {
  color: #414141;
}
iframe {
  width: 100%;
  float: left;
  border: none;
}
.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {
}
.wp-caption.alignleft,
.wp-caption.alignnone {
  width: 100%;
}
button {
  border: none;
}
textarea,
select,
.tg-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #666;
  outline: none;
  height: 40px;
  background: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
textarea.form-control {
  resize: none;
  height: 210px;
}
.form-control::-webkit-input-placeholder {
  color: #666;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: #666;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #666;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #666;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: #66;
} /* Microsoft Edge */
input:focus,
.select select:focus,
.form-control:focus {
  color: #666;
  border-color: #666;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.form-group {
  z-index: 2;
  width: 100%;
  float: left;
  margin: 0 0 20px;
  position: relative;
}
label {
  color: #666;
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}
form p {
  float: left;
  position: relative;
  width: 100%;
}
form p span i {
  top: 13px;
  left: 16px;
  color: #474747;
  position: absolute;
}
option {
  padding: 5px 15px;
}
li {
  line-height: 28px;
  list-style: disc inside none;
}
ul ul {
  margin-left: 20px;
}
ol {
  float: none;
  list-style: decimal;
  padding-left: 15px;
}
ol ol {
  margin-left: 20px;
}
ol li {
  list-style: decimal;
  width: 100%;
}
table {
  background-color: transparent;
  max-width: 100%;
}
th {
  text-align: left;
}
table {
  width: 100%;
  margin-bottom: 15px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border-top: 1px solid #dbdbdb;
  border: 1px solid #dbdbdb;
  line-height: 2.5;
  padding-left: 3px;
  text-align: center;
  vertical-align: top;
}
table thead tr th {
  border-top: 1px solid #dbdbdb;
  text-align: center;
  text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 1px solid #dbdbdb;
}
table > thead > tr > th {
  border-bottom: 2px solid #dbdbdb;
  vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-bottom: 0;
}
table > tbody + tbody {
  border-top: 2px solid #dbdbdb;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 6px 10px;
}
p ins {
  color: #666;
}
dl dd {
  margin-left: 20px;
}
address {
  font-style: italic;
}
/*==============================================
			Theme Custom Select					
==============================================*/
.tg-select {
  color: #666;
  float: left;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}
.tg-select:after {
  top: 0;
  right: 15px;
  z-index: 2;
  color: #666;
  display: block;
  content: "\f107";
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: "FontAwesome";
}
.tg-select select {
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.tg-select select option {
  color: #666;
}
/*==============================================
		Theme Custom CheckBox Radio				
==============================================*/
.tg-radio,
.tg-radio label,
.tg-checkbox,
.tg-checkbox label {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
}
.tg-radio label,
.tg-checkbox label {
  cursor: pointer;
  display: block;
  padding: 0 0 0 20px;
}
.tg-radio input[type="radio"],
.tg-checkbox input[type="checkbox"] {
  display: none;
}
.tg-radio input[type="radio"] + label:before,
.tg-checkbox input[type="checkbox"] + label:before {
  top: 4px;
  left: 0;
  color: #373542;
  font-size: 14px;
  line-height: 14px;
  content: "\f096";
  position: absolute;
  font-family: "FontAwesome";
}
.tg-radio input[type="radio"] + label:before {
  content: "";
}
.tg-radio input[type="radio"]:checked + label:before,
.tg-checkbox input[type="checkbox"]:checked + label:before {
  content: "\f046";
}
/*==============================================
			Theme Global Elements				
==============================================*/
.tg-haslayout {
  width: 100%;
  float: left;
}
.tg-sectionspace {
  padding: 80px 0;
}
.tg-locationmap {
  width: 100%;
  float: left;
  height: 500px;
}
.tg-btn-sm {
  padding: 0 20px;
  line-height: 30px;
}
.tg-btn {
  color: #fff;
  padding: 0 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 23px;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0);
  font: 500 16px/46px "Quicksand", Arial, Helvetica, sans-serif;
}
.tg-btn:before {
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
.tg-btn:hover,
.tg-btn:focus,
.tg-btn:active {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
.tg-btn-lg {
  width: 100%;
}
.tg-socialicons {
  overflow: hidden;
  list-style: none;
  text-align: center;
  line-height: 30px;
}
.tg-socialicons li {
  float: left;
  padding: 0 4px;
  line-height: inherit;
  list-style-type: none;
}
.tg-socialicons li a {
  width: 30px;
  height: 30px;
  color: #fff;
  display: block;
  background: #000;
  overflow: hidden;
  line-height: 30px;
  position: relative;
  text-align: center;
  border-radius: 30px;
  text-transform: capitalize;
}
.tg-inputwithicon.tg-facebook .tg-icon,
.tg-checkbox.tg-facebook,
li.tg-facebook a,
li.tg-facebook a i {
  background: #3b5999;
}
.tg-inputwithicon.tg-twitter .tg-icon,
.tg-checkbox.tg-twitter,
li.tg-twitter a,
li.tg-twitter a i {
  background: #55acee;
}
.tg-inputwithicon.tg-linkedin .tg-icon,
.tg-checkbox.tg-linkedin,
li.tg-linkedin a,
li.tg-linkedin a i {
  background: #0077b5;
}
.tg-inputwithicon.tg-skype .tg-icon,
.tg-checkbox.tg-skype,
li.tg-skype a {
  background: #00aff0;
}
.tg-checkbox.tg-dropbox,
li.tg-dropbox a {
  background: #007ee5;
}
.tg-checkbox.tg-vimeo,
li.tg-vimeo a {
  background: #1ab7ea;
}
.tg-checkbox.tg-tumblr,
li.tg-tumblr a {
  background: #34465d;
}
.tg-checkbox.tg-yahoo,
li.tg-yahoo a {
  background: #410093;
}
.tg-inputwithicon.tg-googleplus .tg-icon,
.tg-checkbox.tg-googleplus,
li.tg-googleplus a,
li.tg-googleplus a i {
  background: #dd4b39;
}
.tg-inputwithicon.tg-pinterestp .tg-icon,
.tg-checkbox.tg-pinterestp,
li.tg-pinterestp a {
  background: #bd081c;
}
.tg-checkbox.tg-youtube,
li.tg-youtube a {
  background: #cd201f;
}
.tg-checkbox.tg-stumbleupon,
li.tg-stumbleupon a {
  background: #eb4924;
}
.tg-checkbox.tg-reddit,
li.tg-reddit a {
  background: #ff5700;
}
.tg-checkbox.tg-quora,
li.tg-quora a {
  background: #b92b27;
}
.tg-checkbox.tg-yelp,
li.tg-yelp a {
  background: #af0606;
}
.tg-checkbox.tg-soundcloud,
li.tg-soundcloud a {
  background: #ff3300;
}
.tg-checkbox.tg-whatsapp,
li.tg-whatsapp a {
  background: #25d366;
}
.tg-checkbox.tg-wechat,
li.tg-wechat a {
  background: #09b83e;
}
.tg-checkbox.tg-instagram,
li.tg-instagram a {
  background: #e4405f;
}
.tg-checkbox.tg-dribbble,
li.tg-dribbble a {
  background: #ea4c89;
}
.tg-checkbox.tg-flickr,
li.tg-flickr a {
  background: #ff0084;
}
.tg-checkbox.tg-rss,
li.tg-rss a {
  background: #ff6600;
}
.tg-socialicons li a i {
  color: #fff;
  width: 30px;
  display: block;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
}
.tg-socialicons li a:hover {
  color: #fff;
}
.tg-roundicontext .tg-usericonholder {
  width: 250px;
  display: block;
  overflow: hidden;
  font-style: normal;
}
.tg-roundicontext i,
.tg-roundicontext span {
  float: left;
  font-size: 13px;
  line-height: 30px;
}
.tg-roundicontext span {
  padding: 0 15px 0 0;
}
.tg-roundicontext:focus,
.tg-roundicontext:hover {
  color: #fff;
  width: 100%;
}
.tg-roundicontext:hover .tg-usericonholder {
  width: 100%;
}
.tg-verticalmiddle,
.tg-verticaltop {
  margin: 0 -1px;
  float: none !important;
  display: inline-block;
  vertical-align: middle;
}
.tg-verticaltop {
  margin: 0 -2px;
  vertical-align: top;
}
.tg-description {
  width: 100%;
  float: left;
}
.tg-bglight {
  background: #f7f7f7;
}
.tg-bgdark {
  background: #373542;
}
.tg-stars span,
.tg-stars {
  width: 100px;
  height: 16px;
  float: left;
  line-height: 16px;
  position: relative;
}
.tg-stars span:after,
.tg-stars:before {
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  letter-spacing: 4px;
  font-family: "FontAwesome";
  color: rgba(218, 218, 218, 0.8);
  content: "\f005 \f005 \f005 \f005 \f005";
}
.tg-stars span {
  width: 75%;
  overflow: hidden;
}
.tg-stars span:after {
  color: #000;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"],
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.tg-dropdowarrow {
  top: 9px;
  right: 15px;
  z-index: 2;
  color: #fff;
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  text-align: center;
}
.tg-dropdowarrow i {
  display: block;
  font-size: inherit;
  line-height: inherit;
}
.tg-open .tg-dropdowarrow i:before {
  content: "\f106";
}
.menu-item-has-children,
.menu-item-has-mega-menu {
  position: relative;
}
.menu-item-has-children > a {
  position: relative;
  padding: 0 20px 0 0;
}
.menu-item-has-children > a:before {
  top: 0;
  right: 0;
  content: "\f107";
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  font-family: "FontAwesome";
}
.mega-menu-row {
  margin: 0;
  width: 100%;
  float: left;
  display: table;
  table-layout: fixed;
}
.mega-menu-col {
  display: table-cell;
  vertical-align: top;
}
.navbar-toggle {
  border: 0;
  margin: 3px 0;
  border-radius: 0;
  padding: 10px 12px;
}
.navbar-toggle .icon-bar {
  background: #fff;
}
.tg-formtheme {
  width: 100%;
  float: left;
}
.tg-formtheme fieldset {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  float: left;
  position: relative;
}
.tg-inputwithicon {
  position: relative;
}
.tg-inputwithicon .form-control {
  z-index: 1;
  position: relative;
}
.tg-inputwithicon i {
  top: 0;
  left: 0;
  z-index: 2;
  color: #363b4d;
  position: absolute;
}
.tg-sectionhead {
  width: 100%;
  float: left;
  text-align: left;
  margin: 0 0 30px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-sectionhead .tg-title {
  text-align: left;
  padding: 0 0 7px;
}
.tg-sectionhead .tg-title h2 {
  line-height: 20px;
}
.tg-sectionhead .tg-description {
  margin: 0 0 1px;
  padding: 0 0 20px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-sectionhead .tg-description p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
.tg-btnbox {
  width: 100%;
  float: left;
  z-index: 2;
  padding: 60px 0 0;
  text-align: center;
  position: relative;
}
.tg-verticalscrollbar {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mCSB_scrollTools {
  width: 3px;
}
.tg-sidebarwrapper .mCSB_scrollTools {
  width: 0;
}
.mCSB_inside > .mCSB_container {
  margin-right: 14px;
}
.tg-sidebarwrapper .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 3px;
  float: right;
  border-radius: 0;
  background: #ddd;
}
.tg-sidebarwrapper .mCSB_scrollTools .mCSB_draggerRail {
  width: 0;
}
.tg-categoreyaccordion .mCSB_scrollTools .mCSB_draggerRail {
  background: #1f1f1f;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 0;
}
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  opacity: 1 !important;
}
.mCSB_scrollTools {
  overflow: hidden;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #a5a5a5;
}
.tg-leftbox {
  float: left;
}
.tg-rghtbox {
  float: right;
}

.tg-close {
  top: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  width: 40px;
  height: 40px;
  outline: none;
  border-radius: 50%;
  position: absolute;
}
.tg-close span {
  margin: 0;
  display: block;
  font-size: 30px;
  line-height: 30px;
  padding: 0 0 7px 0;
}
.tg-thememodaldialog {
  clear: both;
  width: 100%;
  padding: 20px;
  /* overflow: hidden; */
}
.tg-thememodaldialog:after {
  clear: both;
  content: "";
  display: block;
}
.tg-thememodalcontent {
  border: 0;
  width: 100%;
  float: left;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 25px 30px 30px 30px;
}
.tg-thememodalcontent .tg-title {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-title strong {
  width: 100%;
  float: left;
  color: #363b4d;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}
.tg-flagstrap {
  width: 100%;
  float: left;
}
.tg-flagstrap button[type="button"] {
  width: 100%;
  float: left;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  background: #fff;
  border-color: #dbdbdb !important;
}
.tg-flagstrap button[type="button"]:hover,
.tg-flagstrap button[type="button"]:focus,
.tg-flagstrap button[type="button"]:active {
  background: #fff !important;
}
.tg-flagstrap button[type="button"] .caret {
  float: right;
  margin: 8px 0;
}
.tg-flagstrap button + ul {
  margin: 0;
  padding: 0;
  z-index: 3;
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  position: absolute;
}
.tg-flagstrap button + ul li {
  width: 100%;
  float: left;
  line-height: inherit;
  list-style-type: none;
}
/*==========================================================================================
		For Mobile Nav use this code in Responsive.css desired Query
==========================================================================================*/
/*
.navbar-toggle{display: block;}
.navbar-collapse.collapse {display: none!important;}
.collapse.in{display:block !important;}
*/
/*==========================================================================================
			For Mobile Nav use this code in Responsive.css desired Query
==========================================================================================*/
/*==============================================
			Theme Pagination					
==============================================*/
.tg-pagination {
  width: 100%;
  float: left;
  padding: 30px 0 0;
  font: 13px/30px "Work Sans", Arial, Helvetica, sans-serif;
}
.tg-pagination ul {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  list-style: none;
  line-height: 30px;
  text-align: center;
}
.tg-pagination ul li {
  margin: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #f8f8f8;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}
.tg-pagination ul li a {
  color: #484848;
  display: block;
  text-align: center;
  position: relative;
  line-height: 30px;
}
.tg-pagination ul li.tg-nextpage a,
.tg-pagination ul li.tg-prevpage a {
  color: #fff;
  background: #484848;
}
.tg-pagination ul li.tg-prevpage a {
  border-radius: 3px 0 0 3px;
}
.tg-pagination ul li.tg-nextpage a {
  border-radius: 0 3px 3px 0;
}
.tg-pagination ul li.tg-nextpage a i,
.tg-pagination ul li.tg-prevpage a i {
  display: block;
  line-height: 30px;
}
.tg-pagination ul li.tg-active a,
.tg-pagination ul li a:hover,
.tg-pagination ul li.tg-nextpage a:hover,
.tg-pagination ul li.tg-prevpage a:hover,
.tg-pagination ul li.tg-nextpage a:hover i,
.tg-pagination ul li.tg-prevpage a:hover i {
  color: #fff;
}
/*==============================================
			Theme BreadCrumb Style				
==============================================*/
.tg-breadcrumb {
  margin: 0;
  padding: 0;
  color: #666;
  width: 100%;
  float: left;
  list-style: none;
  text-align: right;
  text-transform: capitalize;
  font: 500 14px/20px "Quicksand", Arial, Helvetica, sans-serif;
}
.tg-breadcrumb li {
  width: auto;
  float: left;
  padding: 0 15px;
  position: relative;
  line-height: inherit;
  list-style-type: none;
}
.tg-breadcrumb li:after {
  top: 0;
  left: -3px;
  content: "\f105";
  position: absolute;
  font-family: "FontAwesome";
}
.tg-breadcrumb li:first-child {
  padding-left: 0;
}
.tg-breadcrumb li:last-child {
  padding-right: 0;
}
.tg-breadcrumb li:first-child:after {
  display: none;
}
.tg-breadcrumb li a {
  color: #666;
  display: block;
}
/*==============================================
			Theme Styling						
==============================================*/
.tg-wrapper {
  padding: 2px 0;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.tg-wrapper:before,
.tg-wrapper:after {
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: url(../images/pettran-01.jpg) no-repeat 0 0;
  -ms-background-size: 100% 2px;
  background-size: 100% 2px;
}
.tg-wrapper:before {
  top: 0;
}
.tg-wrapper:after {
  bottom: 0;
}
.tg-main {
  z-index: 3;
  position: relative;
}
.tg-twocolumns {
  width: 100%;
  float: left;
  padding: 80px 0;
}
.tg-content {
  width: 100%;
  float: left;
  padding: 80px 0;
}
.tg-twocolumns .tg-content {
  padding: 0;
}
/*==============================================
			Header Style						
==============================================*/
.tg-header {
  z-index: 10;
  position: relative;
}
.tg-topbar {
  width: 100%;
  float: left;
  padding: 10px 0;
}
.tg-appsnav {
  float: left;
  padding: 5px 0;
  list-style: none;
}
.tg-appsnav li {
  float: left;
  padding: 0 10px 0 0;
  list-style-type: none;
}
.tg-appsnav li a,
.tg-appsnav li a img {
  display: block;
}
.tg-navcurrency {
  float: left;
  padding: 13px 0;
  font-size: 12px;
  list-style: none;
  line-height: 16px;
  text-transform: capitalize;
}
.tg-navcurrency li {
  float: left;
  padding: 0 20px;
  position: relative;
  line-height: inherit;
  list-style-type: none;
}
.tg-navcurrency li:first-child {
  padding-left: 0;
}
.tg-navcurrency li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.tg-navcurrency li a {
  color: #fff;
  display: block;
}
.tg-modalselectcurrency .tg-thememodaldialog,
.tg-modalpriceconverter .tg-thememodaldialog {
  max-width: 430px;
}
.tg-formselectcurency {
  margin: 20px 0 0;
}
.tg-formselectcurency .form-group {
  z-index: 4;
}
.tg-formselectcurency .form-group:last-child {
  margin: 0;
  z-index: 2;
  text-align: center;
}
.tg-formselectcurency .form-group .tg-btn {
  padding: 0;
  width: 200px;
  text-align: center;
}
.tg-formcurencyconverter {
  margin: 20px 0 0;
}
.tg-formcurencyconverter .form-group:nth-child(1) {
  z-index: 5;
}
.tg-formcurencyconverter .form-group:nth-child(3) {
  z-index: 4;
}
.tg-formcurencyconverter .form-group:last-child {
  margin: 0;
  z-index: 2;
  text-align: center;
}
.tg-formcurencyconverter .tg-flagstrap {
  width: 110px;
  float: left;
}
.tg-curencyrateetc {
  color: #666;
  width: 150px;
  float: right;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}
.tg-curencyrateetc span {
  color: #363b4d;
  display: block;
  font-size: 30px;
  padding: 0 0 15px;
  line-height: 22px;
}
.tg-curencyrateetc span sup {
  top: 8px;
  font-size: 50%;
  vertical-align: top;
}
.tg-curencyrateetc p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}
.tg-iconseprator {
  width: 74px;
  height: 74px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  background: #ebebed;
  border-radius: 50%;
  border: 7px solid #fff;
}
.tg-iconseprator:before,
.tg-iconseprator:after {
  top: 50%;
  width: 78px;
  height: 1px;
  content: "";
  position: absolute;
  background: #dbdbdb;
}
.tg-iconseprator:before {
  left: -85px;
}
.tg-iconseprator:after {
  right: -85px;
}
.tg-iconseprator i {
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.tg-iconseprator i img {
  display: block;
}
.tg-lastupdate {
  width: 100%;
  float: left;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  padding: 0 0 0 30px;
}
.tg-lastupdate:before {
  top: 0;
  left: 0;
  color: #fff;
  width: 20px;
  height: 20px;
  content: "*";
  display: block;
  font-size: 34px;
  padding: 7px 0 0;
  border-radius: 50%;
  position: absolute;
  text-align: center;
}
.tg-lastupdate time {
  color: #55acee;
}
.tg-formcurencyconverter .form-group .tg-btn {
  padding: 0;
  width: 200px;
  text-align: center;
}
.tg-themedropdown {
}
.tg-userdropdown {
  float: right;
}
.tg-btndropdown {
  width: 100%;
  float: left;
  font-size: 12px;
  line-height: 18px;
}
.tg-userdropdown .tg-btndropdown {
  color: #666;
  position: relative;
  padding: 0 20px 0 0;
  margin-top: 9px;
}
.tg-headervtwo .tg-userdropdown .tg-btndropdown {
  color: #363b4d;
}
.tg-userdropdown .tg-btndropdown:before {
  top: 0;
  right: 0;
  content: "\f107";
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  font-family: "FontAwesome";
}
.tg-btndropdown .tg-userdp {
  float: left;
  overflow: hidden;
  margin: 0 10px 0 0;
  border-radius: 50%;
  border: 1px solid #fff;
}
.tg-btndropdown .tg-userdp img {
  display: block;
  border: 3px solid;
  border-radius: 50%;
}
.tg-btndropdown .tg-name,
.tg-btndropdown .tg-role {
  display: block;
  padding: 0 0 0 52px;
}
.tg-btndropdown .tg-name {
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;
  padding: 3px 0 0 52px;
}
.tg-btndropdown .tg-role {
  padding: 0 0 3px 52px;
}
.tg-themedropdownmenu {
  top: 150px;
  right: 0;
  border: 0;
  margin: 0;
  left: auto;
  padding: 0;
  opacity: 0;
  width: 230px;
  display: block;
  font-size: 14px;
  background: #fff;
  border-radius: 0;
  list-style: none;
  font-weight: 500;
  line-height: 44px;
  position: absolute;
  visibility: hidden;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.tg-themedropdownmenu li {
  width: 100%;
  float: left;
  line-height: inherit;
  list-style-type: none;
}
.tg-themedropdownmenu li + li {
  border-top: 1px solid #eaeaea;
}
.tg-themedropdownmenu li a {
  width: 100%;
  float: left;
  color: #666;
  padding: 0 15px;
  position: relative;
}
.tg-themedropdownmenu li.menu-item-has-children > a:before {
  top: 0;
  right: 20px;
  content: "\f105";
  font-size: 14px;
  line-height: 44px;
  position: absolute;
  font-family: "FontAwesome";
}
.tg-themedropdownmenu li.menu-item-has-children ul {
  top: 100%;
  margin: 0;
  opacity: 0;
  right: 100%;
  width: 230px;
  background: #fff;
  visibility: hidden;
  position: absolute;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.tg-themedropdownmenu li a:hover {
  background: #f7f7f7;
}
.tg-themedropdownmenu li a i,
.tg-themedropdownmenu li a span {
  float: left;
  line-height: 44px;
}
.tg-themedropdownmenu li a span {
  font-weight: 500;
}
.tg-themedropdownmenu li a i {
  width: 25px;
  font-size: 16px;
  text-align: left;
}
.tg-themedropdown.open .tg-themedropdownmenu,
.tg-themedropdownmenu li.menu-item-has-children:hover ul {
  top: 60px;
  opacity: 1;
  visibility: visible;
}
.tg-themedropdownmenu li.menu-item-has-children:hover ul {
  top: 0;
}
.tg-navigationarea {
  width: 100%;
  float: left;
  padding: 20px 0;
}
.tg-navigationarea .tg-btn {
  float: right;
  padding: 0 15px;
}
.tg-logo {
  float: left;
  margin: 12px 0 3px 0;
}
.tg-logo a,
.tg-logo a img {
  display: block;
}
.tg-nav {
  vertical-align: top;
  display: inline-block;
  text-transform: capitalize;
  font: 500 16px/20px "Quicksand", Arial, Helvetica, sans-serif;
}
.tg-navigation {
  padding: 0;
  width: 100%;
  float: left;
}
.tg-navigation ul {
  list-style: none;
  line-height: inherit;
}
.tg-navigation > ul {
  width: 100%;
  float: left;
  list-style: none;
  text-align: center;
  line-height: inherit;
}
.tg-navigation ul li {
  line-height: inherit;
  list-style-type: none;
}
.tg-navigation > ul > li {
  width: auto;
  float: left;
  padding: 13px 18px;
}
.tg-navigation ul li a {
  color: #484848;
  display: block;
}
.sub-menu,
.mega-menu {
  top: 150px;
  left: 0;
  opacity: 0;
  font-size: 14px;
  line-height: 44px;
  background: #fff;
  text-align: left;
  visibility: hidden;
  position: absolute;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.sub-menu {
  margin: 0;
  width: 230px;
}
.sub-menu li + li {
  border-top: 1px solid #eaeaea;
}
.sub-menu li,
.sub-menu li a {
  width: 100%;
  float: left;
  line-height: 44px;
}
.tg-navigation .sub-menu li a {
  color: #666;
  padding: 0 15px;
}
.tg-navigation .sub-menu > li:hover {
  background: #f7f7f7;
}
.tg-navigation .sub-menu > li:hover > a {
  color: #363b4d;
}
.tg-navigation > ul > li:hover > .sub-menu,
.tg-navigation > ul > li:hover > .mega-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.sub-menu li.menu-item-has-children a {
  position: relative;
}
.sub-menu li.menu-item-has-children > a:before {
  top: 0;
  right: 20px;
  content: "\f105";
  font-size: 14px;
  line-height: 44px;
  position: absolute;
  font-family: "FontAwesome";
}
.sub-menu li.menu-item-has-children .sub-menu {
  left: 100%;
}
.sub-menu li.menu-item-has-children:hover .sub-menu {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.tg-navigation .sub-menu .tg-mobiles > a,
.tg-navigation .sub-menu .tg-electronics > a,
.tg-navigation .sub-menu .tg-wehicles > a,
.tg-navigation .sub-menu .tg-bikes > a,
.tg-navigation .sub-menu .tg-animals > a,
.tg-navigation .sub-menu .tg-furniture > a,
.tg-navigation .sub-menu .tg-toys > a {
  padding: 0 15px 0 50px;
}
.tg-mobiles > a {
  background: url(../images/icons/img-01.png) no-repeat 15px 50%;
}
.tg-electronics > a {
  background: url(../images/icons/img-02.png) no-repeat 15px 50%;
}
.tg-wehicles > a {
  background: url(../images/icons/img-03.png) no-repeat 15px 50%;
}
.tg-bikes > a {
  background: url(../images/icons/img-04.png) no-repeat 15px 50%;
}
.tg-animals > a {
  background: url(../images/icons/img-05.png) no-repeat 15px 50%;
}
.tg-furniture > a {
  background: url(../images/icons/img-06.png) no-repeat 15px 50%;
}
.tg-toys > a {
  background: url(../images/icons/img-07.png) no-repeat 15px 50%;
}
/*==============================================
			Home Banner Style					
==============================================*/
.tg-homebanner,
.tg-innerbanner {
  z-index: 2;
  width: 100%;
  float: left;
  position: relative;
}
.tg-homebanner figure,
.tg-innerbanner figure {
  margin: 0;
  width: 100%;
  float: left;
}
.tg-homebanner figure figcaption,
.tg-innerbanner figure figcaption {
  width: 100%;
  float: left;
  min-height: 520px;
  padding: 100px 0 240px;
  background: rgba(0, 0, 0, 0.32);
}
.tg-innerbanner figure figcaption {
  padding: 40px 0;
  min-height: auto;
}
.tg-bannercontent {
  width: 100%;
  float: left;
  color: #fff;
  text-align: center;
}
.tg-bannercontent h1 {
  color: #fff;
  margin: 0 0 35px;
  font-size: 60px;
  line-height: 44px;
}
.tg-bannercontent h2 {
  color: #fff;
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
}
.tg-formbannersearch fieldset {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 130px 0 0;
}
.tg-formbannersearch .form-group {
  margin: 0;
  float: left;
  width: 33.33%;
  padding: 0 0 0 60px;
  border-left: 1px solid #dbdbdb;
}
.post-ad-button {
  margin-top: 9px;
}
.tg-formbannersearch .form-group:first-child {
  border: 0;
}
.tg-formbannersearch .tg-inputwithicon i {
  left: 20px;
  color: #666;
  font-size: 20px;
  line-height: 60px;
}
.tg-formbannersearch .form-group .form-control,
.tg-formbannersearch .form-group .tg-select select {
  border: 0;
  height: 60px;
  border-radius: 0;
  font-size: 16px;
  line-height: 30px;
  padding: 15px 15px 15px 0;
}
.tg-formbannersearch .form-group .tg-select select option {
  padding: 15px;
}
.tg-formbannersearch .form-group .tg-select:after {
  line-height: 60px;
}
.tg-formbannersearch .tg-btn {
  top: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  width: 131px;
  border-radius: 0;
  line-height: 60px;
  text-align: center;
  position: absolute;
}
.tg-formbannersearch .tg-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.tg-btnsharelocation {
  z-index: 2;
  top: 20px;
  right: 10px;
  color: #666;
  width: 20px;
  height: 20px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
}
.tg-btnsharelocation:hover,
.tg-btnsharelocation:focus {
  color: #666;
}
.tg-bannercontent > a {
  color: #fff;
  float: right;
  margin: 5px 0 0;
  font-size: 13px;
  line-height: 16px;
}
.tg-bannercontent > a:hover {
  color: #fff;
}
/*==============================================
			Home Banner Style					
==============================================*/
.tg-categoriessearch {
  float: left;
  width: 100%;
  padding: 20px;
  background: #fff;
  margin: -140px 0 0;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.tg-categoriessearch:before,
.tg-categoriessearch:after {
  bottom: 0;
  width: 30%;
  z-index: -1;
  content: "";
  height: 40%;
  opacity: 0.3;
  background: #000;
  position: absolute;
}
.tg-categoriessearch:before {
  left: 8px;
  -webkit-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  -webkit-box-shadow: -12px -15px 20px 0 #000;
  box-shadow: -12px -15px 20px 0 #000;
}
.tg-categoriessearch:after {
  right: 8px;
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  -webkit-box-shadow: 12px -15px 20px 0 #000;
  box-shadow: 12px -15px 20px 0 #000;
}
.tg-title {
  width: 100%;
  float: left;
  padding: 0 0 20px;
  text-align: center;
}
.tg-title h2 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}
.tg-title h2 span {
  font-weight: 300;
}
.tg-categories {
  margin: -15px;
  overflow: hidden;
}
.tg-category {
  width: 20%;
  float: left;
  padding: 15px;
}
.tg-categoryholder {
  width: 100%;
  float: left;
  height: 135px;
  cursor: pointer;
  position: relative;
  background: #fcfcfc;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.tg-categories .owl-item {
  padding: 5px;
}
.tg-categories .item {
  float: left;
  width: 100%;
}
.tg-categories .item:hover,
.tg-categories .center .item {
  background: #fff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.tg-category figure {
  margin: 0 0 7px;
}
.tg-category figure img {
  display: block;
}
.tg-category h3 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
.tg-category h4 {
  left: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  color: #666;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  visibility: hidden;
  position: absolute;
  text-align: center;
}
.tg-categoriesslider {
  margin: 0;
  padding: 0 60px;
}
.tg-categoriesslider .tg-category {
  width: 100%;
  padding: 0;
}
.tg-categoriesslider.owl-carousel .owl-stage-outer {
  padding: 4px 0;
}
.tg-category:hover .tg-categoryholder {
  background: #fff;
  padding: 0 0 18px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.tg-categoriesslider .tg-category:hover .tg-categoryholder {
  padding: 0;
}
.tg-category:hover h4 {
  opacity: 1;
  bottom: 18px;
  visibility: visible;
}
/*==============================================
			Feature Ads Style					
==============================================*/
.tg-themetag {
  top: 12px;
  left: -5px;
  z-index: 2;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  position: absolute;
  background: #f91942;
  padding: 5px 3px 3px 10px;
  text-transform: uppercase;
}
.tg-featuretag:before,
.tg-featuretag:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
}
.tg-featuretag:before {
  top: 0;
  left: 100%;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid #f91942;
}
.tg-featuretag:after {
  top: 100%;
  left: 0;
  border-top: 5px solid #b10f2c;
  border-left: 5px solid transparent;
}
.tg-photocount {
  left: 0;
  bottom: 52px;
  z-index: 2;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 3px 6px;
  position: absolute;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
}
.tg-ads {
  width: 100%;
  float: left;
  margin: -15px 0;
}
.tg-ad {
  width: 100%;
  float: left;
  padding: 15px;
  margin: 15px 0;
  background: #fff;
  border-radius: 5px;
}
.tg-ad:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.tg-ad figure {
  margin: 0;
  width: 100%;
  float: left;
  position: relative;
}
.tg-ad figure a,
.tg-ad figure img {
  overflow: hidden;
  border-radius: 5px;
}
.tg-ad figure a,
.tg-ad figure img,
.tg-ad figure a img {
  z-index: 1;
  display: block;
  position: relative;
}
.tg-ad figure img,
.tg-ad figure a img {
  width: 100%;
}
#gallery-nav {
  margin: 10px 0 0;
}
#nav-thumbnails img,
#nav-buttons a {
  float: left;
  border-radius: 0;
  width: 83.333px !important;
}
.tg-adcontent {
  width: 100%;
  float: left;
}
.tg-productcagegories {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  margin: 0 0 12px;
  padding: 20px 0 10px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-productcagegories li {
  float: left;
  line-height: inherit;
  list-style-type: none;
}
.tg-productcagegories li a {
  color: #363b4d;
}
.tg-productcagegories li a:hover {
  color: #55acee;
}
.tg-adtitle {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 32px 6px 0;
}
.tg-adtitle:before {
  top: 0;
  right: 0;
  content: "";
  width: 26px;
  height: 26px;
  display: none;
  text-align: center;
  position: absolute;
  background: url(../images/icons/img-14.png) no-repeat 50% 50%;
}
.tg-adtitle h3 {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.tg-adcontent time {
  width: 100%;
  float: left;
  color: #484848;
  font-size: 14px;
  line-height: 15px;
}
.tg-adprice {
  width: 100%;
  float: left;
  padding: 16px 0 20px;
}
.tg-adprice h4 {
  margin: 0;
  color: #363b4d;
  font-size: 18px;
  line-height: 17px;
}
.tg-adcontent address {
  margin: 0;
  width: 100%;
  float: left;
  color: #484848;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  position: relative;
  padding: 0 0 0 24px;
}
.tg-adcontent address:before {
  top: 0;
  left: 0;
  content: "\e9a3";
  line-height: 14px;
  position: absolute;
  font-family: "icomoon";
}
.tg-phonelike {
  width: 100%;
  float: left;
  height: 33px;
  margin: 20px 0 0;
  position: relative;
  padding: 0 38px 0 0;
}
.tg-btnphone {
  width: 100%;
  float: left;
  color: #363b4d;
  border-radius: 3px;
  text-align: center;
  background: #f7f7f7;
}
.tg-btnphone:hover,
.tg-btnphone:focus {
  color: #fff;
}
.tg-btnphone i,
.tg-btnphone span {
  display: inline-block;
  vertical-align: middle;
}
.tg-btnphone:hover i,
.tg-btnphone:focus i {
  color: #fff;
}
.tg-btnphone i,
.tg-btnphone span,
.tg-btnphone span em {
  font-size: 14px;
  line-height: 33px;
  font-style: normal;
}
.tg-btnphone i {
  font-size: 16px;
  padding: 0 5px 0 0;
}
.tg-like {
  top: 0;
  right: 0;
  width: 33px;
  color: #363b4d;
  display: block;
  cursor: pointer;
  padding: 2px 0 1px;
  text-align: center;
  position: absolute;
  border-radius: 3px;
  background: #f7f7f7;
}
.tg-like i {
  color: #363b4d;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
.tg-like:hover,
.tg-like.tg-liked {
  color: #fff;
  background: #f91942;
}
.tg-like:hover i,
.tg-like.tg-liked i {
  color: #fff;
}
.tg-ad.tg-verifiedad .tg-adtitle:before {
  display: block;
}
/*==============================================
			Feature Ads V Two					
==============================================*/
.tg-adsvtwo .tg-ad figure {
  width: auto;
}
.tg-adsvtwo .tg-adcontent {
  width: auto;
  float: none;
  overflow: hidden;
  padding: 0 0 0 20px;
}
.tg-adsvtwo .tg-productcagegories {
  padding-top: 0;
}
.tg-adsvtwo .tg-phonelike {
  width: auto;
}
.tg-adsvtwo .tg-btnphone {
  padding: 0 25px;
}
.tg-adsvtwo .tg-adtitle {
  padding: 0 120px 6px 0;
}
.tg-adsvtwo .tg-adtitle h3 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.tg-adsvtwo .tg-adtitle:before {
  color: #666;
  width: 105px;
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  border-radius: 20px;
  content: "Verified Ad";
  padding: 2px 10px 0 26px;
  border: 1px solid #dbdbdb;
  background: url(../images/icons/img-15.png) no-repeat 10px 50%;
}
/*==============================================
			Posts Style							
==============================================*/
.tg-posts {
  width: 100%;
  float: left;
}
.tg-post {
  width: 100%;
  float: left;
}
.tg-post figure {
  margin: 0;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}
.tg-bookmarktag {
  padding: 0;
  left: auto;
  right: 12px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  line-height: 33px;
  border-radius: 3px;
  text-align: center;
}
.tg-bookmarktag i {
  display: block;
  font-size: 16px;
  line-height: inherit;
}
.tg-post figure > a,
.tg-post figure img,
.tg-post figure a img {
  display: block;
}
.tg-post figure img,
.tg-post figure a img {
  width: 100%;
  height: auto;
}
.tg-postcontent {
  width: 100%;
  float: left;
}
.tg-postcategories {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  margin: 0 0 12px;
  padding: 20px 0 10px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-postcategories li {
  float: left;
  position: relative;
  line-height: inherit;
  padding: 0 2px 0 10px;
  list-style-type: none;
}
.tg-postcategories li:first-child {
  padding-left: 0;
}
.tg-postcategories li:last-child {
  padding-right: 0;
}
.tg-postcategories li + li:before {
  left: 0;
  bottom: 0;
  content: ",";
  position: absolute;
}
.tg-postcategories li a {
  color: #363b4d;
}
.tg-postcategories li a:hover {
  color: #55acee;
}
.tg-posttitle {
  width: 100%;
  float: left;
}
.tg-posttitle h1 {
  margin: 0;
  font-size: 30px;
  line-height: 34px;
}
.tg-posttitle h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.tg-postmetadata {
  width: 100%;
  float: left;
  color: #484848;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
  padding: 5px 0 15px;
}
.tg-postmetadata li {
  float: left;
  padding: 0 15px;
  position: relative;
  line-height: inherit;
  list-style-type: none;
}
.tg-postmetadata li:first-child {
  padding-left: 0;
}
.tg-postmetadata li:last-child {
  padding-right: 0;
}
.tg-postmetadata li + li:before {
  top: 0;
  left: -4px;
  content: "/";
  position: absolute;
  font-size: inherit;
  line-height: inherit;
}
.tg-postmetadata li a {
  color: #484848;
}
.tg-postmetadata li i {
  padding: 0 8px 0 0;
}
.tg-postcontent .tg-description p {
  margin: 0;
}
.tg-postcontent .tg-description p a {
  color: #484848;
  font-weight: 500;
  text-decoration: none;
}
.tg-post .tg-postcontent .tg-description p a:hover {
  color: #55acee;
}
.tg-post:hover figure img,
.tg-post:hover figure a img {
  opacity: 0.4;
}
/*==============================================
			Testimonials						
==============================================*/
.tg-testimonials {
  clear: both;
  margin: 0 -15px;
  overflow: hidden;
}
.tg-testimonial {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.tg-testimonial figure {
  float: left;
  overflow: hidden;
  position: relative;
  margin: 15px 30px 15px 0;
}
.tg-testimonial figure:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.tg-testimonial figure:after {
  top: 0;
  left: 0;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 14px;
  content: "\f10e";
  overflow: hidden;
  line-height: 30px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-family: "FontAwesome";
}
.tg-testimonial figure img {
  display: block;
  border-radius: 50%;
}
.tg-contentbox {
  overflow: hidden;
}
.tg-testimonial h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.tg-testimonial .tg-description {
  padding: 6px 0 20px;
}
.tg-testimonial .tg-description p {
  margin: 0;
}
.tg-testimonial h3 {
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.tg-testimonial h3 a:hover {
  color: #55acee;
}
.tg-testimonialsslider {
  margin: 0;
}
.tg-testimonialsslider .item {
  width: 100%;
  float: left;
}
.tg-testimonialsslider .item .tg-testimonial {
  padding: 0;
  width: 100%;
}
.tg-testimonialsslider .tg-slidernav {
  display: none;
}
/*==============================================
			Brands Style						
==============================================*/
.tg-brands {
  clear: both;
  overflow: hidden;
}
.tg-brands figure {
  margin: 0;
  width: 25%;
  float: left;
  padding: 0 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.tg-brands figure + figure,
.tg-brands .owl-item + .owl-item figure {
  border-left: 1px solid #dbdbdb;
}
.tg-brands figure img {
  display: block;
}
.tg-brandsslider .item {
  width: 100%;
}
.tg-brandsslider .tg-slidernav {
  display: none;
}
/*==============================================
			Footer Style						
==============================================*/
.tg-footer {
}
.tg-footerbar {
  width: 100%;
  float: left;
}
.tg-newsletter {
  width: 100%;
  float: left;
  padding: 30px 0;
  position: relative;
}
.tg-newsletter:before {
  top: 15px;
  right: 100%;
  color: #fff;
  height: 100%;
  opacity: 0.3;
  content: "\e976";
  font-size: 100px;
  line-height: 100px;
  position: absolute;
  font-family: "icomoon";
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.tg-newsletter h2 {
  color: #fff;
  float: left;
  margin: 16px 0;
  font-size: 24px;
  line-height: 28px;
}
.tg-formnewsletter {
  width: auto;
  float: none;
  overflow: hidden;
  padding: 0 0 0 40px;
}
.tg-formnewsletter fieldset {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.tg-formnewsletter fieldset i {
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  padding: 0 0 3px;
  line-height: 57px;
  text-align: center;
  position: absolute;
}
.tg-formnewsletter fieldset .form-control {
  border: 0;
  width: 70%;
  float: left;
  height: auto;
  border-radius: 0;
  line-height: 30px;
  padding: 15px 15px 15px 60px;
}
.tg-formnewsletter fieldset button {
  width: 30%;
  color: #fff;
  float: right;
  padding: 15px;
  font-weight: 500;
  line-height: 30px;
}
.tg-footerinfo {
  width: 100%;
  float: left;
  color: #ddd;
}
.tg-footerinfo > div {
  min-height: 430px;
  border-left: 1px solid #4a4f5f;
}
.tg-footerinfo > div + div {
  border: 0;
  border-right: 1px solid #1b1d26;
}
.tg-widget {
  width: 100%;
  float: left;
}
.tg-footerinfo .tg-widgetcontent {
  border: 0;
  padding: 0;
}
.tg-widgettitle {
  width: 100%;
  float: left;
  padding: 0 0 25px;
}
.tg-widgettitle h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.tg-widgetcontent {
  width: 100%;
  float: left;
  padding: 15px;
  border: 1px solid #eaedef;
  border-top: 0;
}
.tg-widgetcontent ul {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
}
.tg-widgetcontent ul li {
  width: 100%;
  float: left;
  line-height: inherit;
  list-style-type: none;
}
.tg-widgetcontent ul li + li {
  margin: 10px 0 0;
}
.tg-widgetsearchbylocations ul {
  width: 50%;
}
.tg-footerinfo .tg-widget ul li a {
  color: #ddd;
}
.tg-footerinfo .tg-widgettext {
  padding: 60px 15px 0 0;
}
.tg-footerinfo .tg-widgettext .tg-description {
  padding: 27px 0;
}
.tg-footerinfo .tg-widgettext .tg-description p {
  margin: 0;
}
.tg-footerinfo .tg-widgetsearchbylocations {
  padding: 60px 0 60px 15px;
}
.tg-footerinfo .tg-widgettitle h3 {
  color: #ddd;
}
.tg-footerinfo .tg-widgetsearchbylocations ul + ul li:last-child a {
  color: #55acee;
}
.tg-followus {
  width: 100%;
  float: left;
  padding: 0 0 40px;
}
.tg-followus strong,
.tg-followus .tg-socialicons {
  float: left;
}
.tg-followus strong {
  color: #ddd;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
.tg-followus .tg-socialicons {
  width: auto;
  padding: 1px 0 1px 10px;
}
.tg-followus .tg-socialicons li {
  margin: 0;
  width: auto;
}
.tg-followus .tg-appsnav {
  padding: 0;
  width: auto;
  float: right;
}
.tg-followus .tg-appsnav li {
  padding: 0;
  width: auto;
  margin: 0 0 0 10px;
}
.tg-footernav {
  width: 100%;
  float: left;
  padding: 15px 0;
  font-size: 14px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
}
.tg-footernav:before {
  top: 0;
  right: 100%;
  content: "";
  width: 9999px;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.tg-footernav ul {
  width: 100%;
  float: left;
  list-style: none;
}
.tg-footernav ul li {
  width: auto;
  padding: 0 13px;
  position: relative;
  margin: 0 !important;
}
.tg-footernav ul li:first-child {
  padding-left: 0;
}
.tg-footernav ul li:first-child {
  padding-left: 0;
}
.tg-footernav ul li:before {
  top: 50%;
  left: -1px;
  width: 2px;
  height: 1px;
  content: "";
  background: #ddd;
  position: absolute;
}
.tg-footernav ul li:firs-child:before {
  display: none;
}
.tg-widget .tg-footernav,
.tg-widget .tg-footernav ul,
.tg-widget .tg-footernav ul li {
  line-height: 20px;
}
.tg-footernav ul li a {
  color: #ddd;
  display: block;
}
.tg-copyright {
  width: 100%;
  float: left;
  padding: 25px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
/*==============================================
			Home V 2 Style						
==============================================*/
.tg-boxed .tg-wrapper {
  float: none;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
.tg-headervtwo .tg-topbar {
  background: none;
  padding: 20px 0 0;
  text-align: center;
}
.tg-adbanner {
  padding: 40px 0;
  vertical-align: top;
  display: inline-block;
}
.tg-headervtwo .tg-topbar .tg-adbanner {
  padding: 0;
}
.tg-adbanner img {
  display: block;
}
.tg-navigationarea .tg-btndropdown .tg-userdp img {
  border: 1px solid #dbdbdb;
}
.tg-navigationarea .tg-btndropdown .tg-name,
.tg-navigationarea .tg-btndropdown .tg-role {
  color: #363b4d;
}
.tg-navigationarea .tg-btndropdown .tg-name {
  padding: 1px 0 0 52px;
}
.tg-navigationarea .tg-btndropdown .tg-role {
  padding: 0 0 1px 52px;
}
.tg-homebannervtwo {
  padding: 0 65px;
}
.tg-homebannervtwo .item figcaption {
  padding: 80px 0;
  min-height: auto;
  background: rgba(54, 59, 77, 0.7);
}
.tg-homebannervtwo .tg-formbannersearch fieldset {
  background: none;
  padding: 0 165px 0 0;
}
.tg-homebannervtwo .tg-formbannersearch .form-group {
  border: 0;
  width: 50%;
  padding: 0 5px;
}
.tg-homebannervtwo .tg-formbannersearch .form-group:first-child {
  padding-left: 0;
}
.tg-homebannervtwo .tg-formbannersearch .form-group + .form-group {
  padding-right: 0;
}
.tg-homebannervtwo .tg-formbannersearch .form-group .form-control {
  height: 50px;
  line-height: 18px;
  border-radius: 4px;
  padding: 10px 20px 10px 50px;
}
.tg-homebannervtwo .tg-formbannersearch .tg-inputwithicon i {
  left: 5px;
  width: 50px;
  line-height: 50px;
}
.tg-homebannervtwo .tg-btnsharelocation {
  top: 15px;
}
.tg-homebannervtwo .tg-formbannersearch .tg-btn {
  padding: 0;
  width: 155px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
}
.tg-brandsvtwo {
  padding: 40px 0 0;
}
.tg-brandsvtwo figure {
  padding: 0;
  width: 20%;
  float: left;
  position: relative;
  border: 0 !important;
  border-left: 1px solid #e5e5e5 !important;
}
.tg-brandsvtwo figure:first-child,
.tg-brandsvtwo figure:nth-child(6) {
  border-left-color: #fff !important;
}
.tg-brandsvtwo figure:nth-child(-n + 5) {
  border-bottom: 1px solid #e5e5e5 !important;
}
.tg-brandsvtwo figure:nth-child(even) {
  background: #fcfcfc;
}
.tg-sidebar {
  width: 100%;
  float: left;
}
.tg-widget .tg-adbanner {
  padding: 0;
}
.tg-sidebar .tg-widget + .tg-widget {
  margin: 45px 0 0;
}
.tg-sidebar .tg-widgettitle h3 {
  font-size: 24px;
  line-height: 28px;
}
.tg-widgetlatestad .tg-widgetcontent {
  padding: 0;
}
.tg-widget .tg-ad {
  margin: 0;
}
.tg-widget .tg-ad:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tg-footervtwo .tg-footernav:before {
  width: 20px;
}
/*==============================================
			About us Page						
==============================================*/
.tg-aboutus {
  width: 100%;
  float: left;
}
.tg-textshortcode {
  width: 100%;
  float: left;
}
.tg-titleshortcode {
  width: 100%;
  float: left;
  margin: 0 0 25px;
  padding: 0 0 25px;
  position: relative;
}
.tg-titleshortcode:before {
  left: 0;
  bottom: 0;
  content: "";
  height: 1px;
  width: 100px;
  position: absolute;
  background: #dbdbdb;
}
.tg-titleshortcode h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 22px;
}
.tg-titleshortcode h2 span {
  display: block;
  font-size: 40px;
  line-height: 30px;
  padding: 0 0 15px;
}
.tg-textshortcode .tg-description p {
  margin: 0 0 30px;
}
.tg-textshortcode .tg-btnbox {
  padding: 0;
  text-align: left;
}
.tg-textshortcode .tg-btnbox .tg-btn {
  float: left;
}
.tg-textshortcode .tg-btnbox .tg-btn + .tg-btn {
  margin: 0 0 0 30px;
}
.tg-imgshortcode {
  width: 100%;
  float: left;
}
.tg-imgshortcode figure {
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}
.tg-imgholder {
  width: 100%;
  float: left;
  padding: 8px;
  background: #fff;
}
.tg-imgshortcode figure img {
  width: 100%;
  height: auto;
  display: block;
}
.tg-imgshortcode.tg-multiimg {
  width: auto;
  padding: 0 0 0 30px;
}
.tg-imgshortcode.tg-multiimg figure {
  width: auto;
}
.tg-imgshortcode.tg-multiimg figure:nth-child(2) {
  padding: 109px 30px 0 0;
}
.tg-imgshortcode.tg-multiimg figure:nth-child(3) {
  padding: 0 0 0 135px;
}
.tg-imgshortcode.tg-multiimg figure:nth-child(1),
.tg-imgshortcode.tg-multiimg figure:nth-child(4) {
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.tg-imgshortcode.tg-multiimg figure img {
  height: auto;
}
/*==============================================
			Statistics Style					
==============================================*/
.tg-statistics {
  width: 100%;
  float: left;
  list-style: none;
}
.tg-statistics li {
  width: 25%;
  float: left;
  padding: 0 15px;
  text-align: center;
  list-style-type: none;
}
.tg-statisticicon {
  width: 100%;
  float: left;
  margin: 0 0 30px;
  padding: 0 0 30px;
  position: relative;
}
.tg-statisticicon:before {
  left: 50%;
  bottom: 0;
  width: 90px;
  height: 2px;
  content: "";
  position: absolute;
  background: #dbdbdb;
  margin: 0 0 0 -45px;
}
.tg-statisticicon i {
  display: block;
  font-size: 60px;
  line-height: 60px;
}
.tg-statistics li h3 {
  font-size: 42px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 20px;
  position: relative;
  vertical-align: top;
  display: inline-block;
}
.tg-statistics li h4 {
  margin: 0;
  color: #666;
  font-size: 20px;
  line-height: 20px;
}
/*==============================================
			Why We Are Best						
==============================================*/
.tg-sectionheadvtwo {
  border: 0;
  margin: 0;
  text-align: center;
}
.tg-sectionheadvtwo .tg-title {
  padding: 0 0 25px;
  text-align: center;
}
.tg-sectionheadvtwo .tg-description {
  margin: 0;
  border: 0;
}
.tg-sectionheadvtwo .tg-description p {
  font-size: 16px;
  line-height: 26px;
}
.tg-features {
  width: 100%;
  float: left;
  margin: -15px 0;
  list-style: none;
}
.tg-features li {
  float: left;
  width: 33.33%;
  padding: 15px;
  list-style-type: none;
}
.tg-feature {
  width: 100%;
  float: left;
  position: relative;
  padding: 20px 20px 20px 96px;
}
.tg-feature:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.tg-featureicon {
  top: 20px;
  left: 15px;
  width: 66px;
  height: 66px;
  font-size: 25px;
  line-height: 64px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  border: 1px solid #dbdbdb;
}
.tg-featureicon i {
  display: block;
  line-height: inherit;
}
.tg-featureicon .icon-eye {
  color: #ec407a;
}
.tg-featureicon .icon-lock {
  color: #5c6bc0;
}
.tg-featureicon .icon-bubble {
  color: #66bb6a;
}
.tg-featureicon .icon-laptop {
  color: #ab47bc;
}
.tg-featureicon .icon-spell-check {
  color: #26c6da;
}
.tg-featureicon .icon-leaf {
  color: #ef5350;
}
.tg-feature .tg-title {
  margin: 0;
  padding: 0 0 10px;
}
.tg-feature .tg-title h3 {
  margin: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.tg-feature .tg-title h3 a {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.tg-feature .tg-description p {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}
/*==============================================
			Quality Services					
==============================================*/
.tg-qualityservices {
  width: 100%;
  float: left;
}
.tg-imgshortcode figure {
  margin: 0;
  width: 100%;
  float: left;
  overflow: hidden;
}
.tg-imgshortcode figure img {
  width: auto;
  max-width: none;
  height: 550px;
  display: block;
}
.tg-imgshortcode figure figcaption {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(54, 59, 70, 0.4);
}
.tg-btnplayvideo {
  top: 50%;
  left: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  display: block;
  font-size: 30px;
  line-height: 96px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: -50px 0 0 -50px;
}
.tg-btnplayvideo:hover {
  color: #fff;
}
.tg-btnplayvideo i {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  line-height: inherit;
}
.tg-qualityservices .tg-textshortcode {
  padding: 66px 31.5% 66px 60px;
}
.tg-qualityservices .tg-textshortcode .tg-description p:last-child {
  margin: 0;
}
/*==============================================
			Classified Team						
==============================================*/
.tg-teamclassified {
  width: 100%;
  float: left;
  padding: 0 10px;
}

.tg-team {
  width: 20%;
  float: left;
  padding: 15px 5px;
}
.tg-teamholder {
  width: 100%;
  float: left;
}
.tg-team figure {
  margin: 0;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}
.tg-team figure img {
  z-index: 1;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.tg-team figure figcaption {
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 10px;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateY(105%);
  -ms-transform: translateY(105%);
  transform: translateY(105%);
}
.tg-team figure figcaption .tg-socialicons li {
  float: none;
  vertical-align: top;
  display: inline-block;
}
.tg-teamcontent {
  width: 100%;
  float: left;
  padding: 20px 0 0;
  text-align: center;
}
.tg-teamcontent h3 {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 16px;
}
.tg-teamcontent h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
  line-height: 14px;
}
.tg-team .tg-teamholder:hover figcaption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
/*==============================================
			Listing Ads Grid					
==============================================*/
.tg-pagehead {
  width: 100%;
  float: left;
  padding: 0 0 30px;
}
.tg-pagehead h1 {
  margin: 0 0 15px;
  color: #363b4d;
  font-size: 30px;
  line-height: 22px;
}
.tg-pagehead p {
  margin: 0;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.tg-sidebar {
  width: 100%;
  float: left;
}
.tg-formnerrowsearch {
  overflow: hidden;
}
.tg-sidebartitle {
  width: 100%;
  float: left;
  padding: 15px 20px;
  background: #363b4d;
  border-radius: 5px 5px 0 0;
}
.tg-sidebartitle h2 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.tg-formnerrowsearch > fieldset {
  text-align: center;
  background: #fcfcfc;
  border: 1px solid #eaedef;
}
.tg-themecollapse {
  width: 100%;
  float: left;
  text-align: left;
}
.tg-collapsetitle {
  margin: 0;
  width: 100%;
  float: left;
  color: #363b4d;
  position: relative;
  background: #f7f7f7;
  padding: 10px 40px 10px 28px;
  border-bottom: 1px solid #eaedef;
}
.tg-collapsetitle a {
  color: #363b4d;
  font-size: 13px;
  line-height: 20px;
  vertical-align: top;
  display: inline-block;
}
.tg-collapsetitle a:hover,
.tg-collapsetitle a:focus {
  color: #363b4d;
}
.tg-collapsetitle a span {
  margin: 0;
  width: 100%;
  float: left;
  font-weight: 500;
  padding: 0 0 0 10px;
  line-height: inherit;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
.tg-collapsetitle a span:before {
  top: 13px;
  left: 20px;
  line-height: 17px;
  position: absolute;
  font-family: "FontAwesome";
}
.tg-collapsetitle i {
  top: 10px;
  color: #999;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  text-align: right;
  position: absolute;
}
.tg-collapsetitle.open a span:before {
  content: "\f106";
}
.tg-themecollapsecontent {
  width: 100%;
  float: left;
  padding: 20px;
  border-bottom: 1px solid #eaedef;
}
.tg-themecollapsecontent:last-child {
  border: 0;
}
.tg-themecollapsecontent .form-group {
  margin: 0;
}
.tg-themecollapsecontent .form-group + .form-group {
  margin: 10px 0 0;
}
.tg-themecollapsecontent .form-group .form-control {
  padding: 10px;
}
.tg-themecollapsecontent .tg-inputwithicon .form-control {
  padding: 10px 36px 10px 10px;
}
.tg-themecollapsecontent .tg-inputwithicon i {
}
.tg-checkboxgroup {
  width: 100%;
  float: left;
}
.tg-checkboxgroup .tg-checkbox + .tg-checkbox {
  margin: 5px 0 0;
}
.tg-checkboxgroup .tg-checkbox label {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.tg-checkboxgroup .tg-checkbox input[type="checkbox"] + label:before {
  top: 2px;
  color: #666;
}
.tg-checkboxgroup .tg-checkbox input[type="checkbox"] + label span {
  float: left;
  color: #666;
}
.tg-checkboxgroup .tg-checkbox input[type="checkbox"] + label span + span {
  float: right;
  color: #363b4d;
}
.tg-checkboxgroup
  .tg-checkbox
  input[type="checkbox"]:checked
  + label
  span:first-child,
.tg-checkboxgroup .tg-checkbox input[type="checkbox"]:checked + label:before {
  color: #363b4d;
}
.tg-themerangeslider {
  width: 100%;
  float: left;
  height: 2px;
  margin: 10px 0;
  border-radius: 0;
  background: #f7f7f7;
  border: 0 !important;
}
.tg-themerangeslider .ui-slider-handle {
  top: -4px;
  width: 0;
  height: 0;
  outline: none;
  background: none;
  border-radius: 0;
  border-width: 5px;
  border-color: #000;
  border-style: solid;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 204, 103, 0.2);
  box-shadow: 0 0 0 4px rgba(0, 204, 103, 0.2);
}
.tg-amountbox {
  width: 100%;
  float: left;
  margin: 10px 0 0;
}
.tg-amountbox input {
  border: 0;
  width: 100%;
  padding: 0;
  float: left;
  height: auto;
  color: #484848;
  font-size: 13px;
  font-weight: 500;
  background: none;
  line-height: auto;
}
.tg-contenthead {
  width: 100%;
  float: left;
  margin: 0 0 15px;
  padding: 0 0 25px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-sortandview {
  width: 100%;
  float: left;
  padding: 20px;
  border-radius: 5px;
  background: #f7f7f7;
}
.tg-sortby {
  float: left;
}
.tg-sortby strong,
.tg-sortby .tg-select {
  float: left;
  width: auto;
}
.tg-sortby .tg-select {
  width: 280px;
}
.tg-sortby strong {
  color: #666666;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px 0 0;
}

.tg-views {
  float: right;
}
.tg-views strong,
.tg-views ul {
  float: left;
}
.tg-views ul {
  padding: 2px;
  background: #fff;
  list-style: none;
  border-radius: 20px;
  border: 2px solid #dbdbdb;
}
.tg-views ul li {
  float: left;
  list-style-type: none;
}
.tg-views ul li a {
}
.tg-views ul li a {
  width: 32px;
  display: block;
  font-size: 12px;
  overflow: hidden;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
}
.tg-views ul li a:hover,
.tg-views ul li.tg-active a,
.tg-views ul li a:hover i,
.tg-views ul li.tg-active a i {
  color: #fff;
}
.tg-views ul li a i {
  display: block;
  line-height: inherit;
}
.tg-views strong {
  color: #666666;
  font-size: 16px;
  line-height: 40px;
  padding: 0 15px 0 0;
}
.tg-applyedfilters {
  width: 100%;
  float: left;
  padding: 30px 0 0;
}
.tg-applyedfilters ul {
  margin: -5px;
  overflow: hidden;
  list-style: none;
  font-size: 13px;
  line-height: 22px;
}
.tg-applyedfilters ul li {
  float: left;
  border-radius: 0;
  position: relative;
  line-height: inherit;
  list-style-type: none;
  margin: 5px 18px 5px 5px;
}
.tg-applyedfilters ul li:before,
.tg-applyedfilters ul li:after {
  top: 0;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
}
.tg-applyedfilters ul li.alert-dismissable {
  padding: 0 5px 0 0;
  border: 1px solid #eaedef;
}
.tg-applyedfilters ul li.alert-dismissable:before {
  top: -1px;
  z-index: 1;
  right: -13px;
  border-left: 12px solid #eaedef;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.tg-applyedfilters ul li.alert-dismissable:after {
  z-index: 2;
  right: -11px;
  border-left: 11px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}
.tg-applyedfilters ul li.alert-dismissable a,
.tg-applyedfilters ul li.alert-dismissable span {
  color: #666;
  float: left;
  line-height: inherit;
}
.tg-applyedfilters ul li.alert-dismissable span {
  font-weight: 500;
}
.tg-applyedfilters ul li.alert-dismissable a.close {
  opacity: 1;
  width: 22px;
  font-weight: 400;
  position: static;
  text-shadow: none;
  line-height: 20px;
  text-align: center;
}
.tg-applyedfilters ul li.alert-dismissable a.close:hover,
.tg-applyedfilters ul li a.tg-btncleall {
  color: #f91942;
  font-weight: 500;
}
.tg-formnerrowsearch fieldset .tg-btn {
  z-index: 2;
  margin: 20px 0;
}
/*==============================================
			Listing Ads Grid					
==============================================*/
.tg-adslist .tg-adcontent address {
  width: auto;
  margin: 12px 0 0;
}
.tg-adslist .tg-phonelike {
  margin: 0;
  float: right;
}
.tg-adslist .tg-adtitle {
  padding: 0 120px 0 0;
}
.tg-adslist .tg-adprice {
  padding: 20px 0 20px;
}
/*==============================================
			Ads Detail Page						
==============================================*/
.tg-pricebox {
  padding: 10px;
  position: relative;
  margin: 0 20px 30px 0;
  border-radius: 5px 0 0 5px;
}
.tg-pricebox:after {
  clear: both;
  content: "";
  display: block;
}
.tg-pricebox:before {
  top: 0;
  width: 0;
  height: 0;
  left: 100%;
  content: "";
  position: absolute;
  border-left: 20px solid;
  border-top: 32px solid transparent !important;
  border-bottom: 32px solid transparent !important;
}
.tg-selectcurrency {
}
.tg-pricebox .tg-flagstrap {
  width: 98px;
  float: left;
}
.tg-pricebox .tg-flagstrap button[type="button"] {
  float: left;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
.tg-pricebox .tg-flagstrap ul {
  min-width: 100px;
}
.tg-priceandlastupdate {
  overflow: hidden;
  padding: 0 0 0 15px;
}
.tg-priceandlastupdate span {
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 19px;
}
.tg-priceandlastupdate span:first-child {
  font-size: 26px;
  font-weight: 500;
  line-height: 25px;
}
.tg-sellercontactdetail {
  width: 100%;
  float: left;
  margin: 0 0 30px;
}
.tg-sellertitle {
  width: 100%;
  float: left;
  padding: 10px 20px;
  background: #f7f7f7;
  border: 1px solid #eaedef;
  border-bottom: 0;
}
.tg-sellertitle h1 {
  margin: 0;
  color: #363b4d;
  font-size: 18px;
  line-height: 27px;
}
.tg-sellercontact {
  width: 100%;
  float: left;
  position: relative;
  background: #fcfcfc;
  padding: 30px 30px 45px;
  border: 1px solid #eaedef;
}
.tg-memberinfobox {
  width: 100%;
  float: left;
  padding: 0 0 30px;
}
.tg-memberinfobox figure {
  margin: 0;
  float: left;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.tg-memberinfobox figure:before {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.tg-memberinfobox figure a {
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.tg-memberinfo {
  overflow: hidden;
  padding: 10px 0 0 10px;
}
.tg-memberinfo h3 {
  margin: 0 0 2px;
  font-size: 20px;
  line-height: 23px;
}
.tg-memberinfo h3 a {
  color: #363b4d;
}
.tg-memberinfo span {
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 15px;
}
.tg-btnseeallads {
  float: left;
  color: #55acee;
  font-size: 14px;
  line-height: 14px;
}
.tg-sellercontact .tg-btnphone,
.tg-btnmakeanoffer {
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  padding: 0 0 0 90px;
}
.tg-btnmakeanoffer {
  width: 100%;
  float: left;
  background: #363b4d;
}
.tg-btnmakeanoffer:hover,
.tg-btnmakeanoffer:focus {
  color: #fff;
}
.tg-sellercontact .tg-btnphone i,
.tg-btnmakeanoffer i {
  top: 0;
  left: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 30px;
  line-height: 70px;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
.tg-sellercontact .tg-btnphone > span,
.tg-btnmakeanoffer > span {
  width: 100%;
  float: left;
  display: block;
  text-align: left;
  padding: 15px 15px 15px 0;
}
.tg-sellercontact .tg-btnphone span em,
.tg-sellercontact .tg-btnphone span span,
.tg-btnmakeanoffer > span em,
.tg-btnmakeanoffer > span span {
  width: 100%;
  float: left;
  font-style: normal;
}
.tg-sellercontact .tg-btnphone span em,
.tg-btnmakeanoffer > span em {
  font-size: 20px;
  line-height: 20px;
  padding: 0 0 6px;
}
.tg-sellercontact .tg-btnphone span span,
.tg-btnmakeanoffer > span span {
  font-size: 14px;
  line-height: 14px;
}
.tg-btnphone {
  margin: 0 0 10px;
}
.tg-sellercontact .tg-like {
  top: auto;
  z-index: 2;
  right: 50%;
  width: 170px;
  bottom: -17px;
  margin: 0 -85px 0 0;
}
.tg-sellercontact .tg-like i {
  font-size: 14px;
  line-height: 31px;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
.tg-sellercontact .tg-like i:before {
  padding: 0 10px 0 0;
  font-family: "FontAwesome";
}
.tg-sellerlocation {
  width: 100%;
  float: left;
}
.tg-sellerlocation .tg-locationmap {
  height: 440px;
}
.tg-safetytips {
  width: 100%;
  float: left;
  margin: 0 0 30px;
  position: relative;
  background: #fcfcfc;
  border: 1px solid #eaedef;
}
.tg-safetytipsslider {
  width: 100%;
  float: left;
  padding: 30px 30px 15px;
}
.tg-safetytipstitle {
  width: 100%;
  float: left;
  padding: 10px 20px;
  background: #f7f7f7;
  border-bottom: 1px solid #eaedef;
}
.tg-safetytipstitle h2 {
  margin: 0;
  color: #363b4d;
  font-size: 18px;
  line-height: 27px;
}
.tg-safetytipsslider {
  width: 100%;
  float: left;
}
.tg-safetytip {
  width: 100%;
  float: left;
}
.tg-safetytip h3 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 15px;
}
.tg-safetytip .tg-description p {
  margin: 0;
}
.tg-safetytipsslider .tg-prev,
.tg-safetytipsslider .tg-next {
  right: 10px;
  top: -15px;
  left: auto;
  width: 20px;
  height: 20px;
  color: #363b4d;
  background: none;
  border-radius: 0;
  line-height: 20px;
}
.tg-safetytipsslider .tg-prev {
  right: 30px;
}
.tg-safetytipsslider .tg-prev:hover,
.tg-safetytipsslider .tg-next:hover {
  background: none;
}
.tg-currentandtotalslides {
  width: 100%;
  float: left;
  text-align: right;
  position: relative;
  padding: 0 30px 15px;
}
.tg-currentandtotalslides:before {
  top: 13px;
  left: 30px;
  width: 64%;
  height: 1px;
  content: "";
  background: #ddd;
  position: absolute;
}
.tg-reportthisadbox {
  width: 100%;
  float: left;
  margin: 0 0 30px;
  position: relative;
  background: #fcfcfc;
  border: 1px solid #eaedef;
}
.tg-reportthisadtitle {
  width: 100%;
  float: left;
  padding: 10px 20px;
  background: #f7f7f7;
  border-bottom: 1px solid #eaedef;
}
.tg-reportthisadtitle h2 {
  margin: 0;
  color: #363b4d;
  font-size: 18px;
  line-height: 27px;
}
.tg-formreportthisad {
  padding: 30px;
}
.tg-formreportthisad h3 {
  color: #363b4d;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 15px;
}
.tg-formreportthisad .tg-radio {
  margin: 0 0 15px;
}
.tg-formreportthisad .tg-radio input[type="radio"] + label {
  color: #363b4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.tg-formreportthisad .tg-radio input[type="radio"] + label:before {
  z-index: 1;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #363b4d;
}
.tg-formreportthisad .tg-radio input[type="radio"] + label:after {
  top: 8px;
  left: 4px;
  z-index: 2;
  content: "";
  width: 4px;
  height: 4px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  border-radius: 50%;
  background: #363b4d;
}
.tg-formreportthisad .tg-radio input[type="radio"]:checked + label:after {
  opacity: 1;
  visibility: visible;
}
.tg-sidebar .tg-formreportthisad .form-group i {
  left: 0 !important;
  right: auto !important;
}
.tg-sidebar .tg-formreportthisad .form-group textarea.form-control {
  height: 160px;
  padding: 10px 10px 10px 40px;
}
.tg-formreportthisad .tg-btns {
  padding: 20px 0 0;
}
.tg-formreportthisad .tg-btns .tg-btn {
  margin: 0;
  width: 47%;
  float: left;
  height: 46px;
  color: #363b4d;
  padding: 0 20px;
  background: #fff;
  line-height: 44px;
  border: 1px solid #ddd;
}
.tg-formreportthisad .tg-btns .tg-btn + .tg-btn {
  float: right;
}
.tg-formreportthisad .tg-btns .tg-btn:hover {
  color: #fff;
}
.tg-addetail {
}
.tg-detail {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.tg-detail:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tg-pagesequence,
.tg-detail .tg-admetadata,
.tg-detail .tg-postmetadata {
  width: 100%;
  float: left;
  color: #666;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  list-style: none;
  padding: 0 0 30px;
}
.tg-admetadata li {
  float: left;
  position: relative;
  line-height: inherit;
  list-style-type: none;
  padding: 0 16px 0 22px;
}
.tg-admetadata li:first-child {
  padding-left: 0;
}
.tg-admetadata li + li:before {
  top: 0;
  left: 0;
  color: #666;
  content: "/";
  position: absolute;
  font-size: inherit;
  line-height: inherit;
}
.tg-admetadata li a {
  color: #666;
}
.tg-detail .tg-adtitle {
  padding: 0 120px 15px 0;
}
.tg-adtitle h2 {
  margin: 0;
  font-size: 30px;
  line-height: 34px;
}
.tg-detail .tg-adtitle:before {
  top: 9px;
  color: #666;
  width: 105px;
  height: 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  border-radius: 20px;
  content: "Verified Ad";
  padding: 2px 10px 0 26px;
  border: 1px solid #dbdbdb;
  background: url(../images/icons/img-15.png) no-repeat 10px 50%;
}
.tg-pagesequence {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-pagesequence li {
  float: left;
  position: relative;
  line-height: inherit;
  list-style-type: none;
  padding: 0 18px 0 27px;
}
.tg-pagesequence li:first-child {
  padding-left: 0;
}
.tg-pagesequence li + li:before {
  top: 0;
  left: 0;
  content: "\f105";
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  font-family: "FontAwesome";
}
.tg-detail .tg-admetadata li i,
.tg-detail .tg-admetadata li address {
  margin: 0;
  padding: 0;
  width: auto;
  float: none;
  vertical-align: top;
  display: inline-block;
}
.tg-detail .tg-admetadata li i {
  padding: 0 8px 0 0;
}
.tg-detail .tg-admetadata li address {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.tg-detail .tg-admetadata li address:before {
  display: none;
}
.tg-pagesequence li a,
.tg-detail .tg-admetadata li a {
  color: #666;
  vertical-align: top;
  display: inline-block;
}
.tg-detail .tg-admetadata li a:hover {
  color: #55acee;
}
.tg-share {
  width: 100%;
  float: left;
  padding: 0 0 30px;
}
.tg-share strong,
.tg-share .tg-socialicons {
  float: left;
}
.tg-share strong {
  color: #666;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.tg-adadded {
  float: right;
}
.tg-adadded i,
.tg-adadded span {
  color: #666;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.tg-adadded i {
  font-size: 24px;
  line-height: 24px;
}
.tg-detail > figure {
  margin: 0 0 30px;
}
.tg-detail .tg-description strong {
  width: 100%;
  float: left;
  font-weight: 500;
}
.tg-detail .tg-description p {
  clear: both;
  margin: 0 0 25px;
}
.tg-detail .tg-description p span,
.tg-detail .tg-description p i {
  display: inline-block;
  vertical-align: middle;
}
.tg-detail .tg-description p span {
  padding: 0 15px 0 0;
}
.tg-detail .tg-description ul {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 30px;
}
.tg-detail .tg-description ul li {
  width: 100%;
  float: left;
  line-height: inherit;
}
.tg-detail .tg-description ul li + li {
  padding: 5px 0 0;
}
.tg-video,
.tg-fullimg {
  width: 100%;
  float: left;
  margin: 0 0 30px;
}
.tg-detail .tg-description .tg-video figure img,
.tg-detail .tg-description .tg-fullimg figure img {
  border-radius: 0;
}
.tg-authorotherads {
  width: 100%;
  float: left;
  padding: 30px;
  margin: 0 0 80px;
  background: #f7f7f7;
}
.tg-authoradsslider {
  padding: 15px 0 0;
}
.tg-authoradsslider .tg-ad {
  margin: 0;
}
.tg-authoradsslider .tg-ad:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tg-authoradsslider .tg-prev,
.tg-authoradsslider .tg-next {
  top: -63px;
  right: 0;
  left: auto;
}
.tg-authoradsslider .tg-prev {
  right: 50px;
}
.tg-viewallbox {
  width: 100%;
  float: left;
  padding: 40px 0;
  text-align: center;
}
.tg-modalmakeanoffer .tg-thememodaldialog {
  max-width: 470px;
}
.tg-formmakeanoffer {
  margin: 20px 0 0;
}
.tg-formmakeanoffer .form-group strong {
  width: 20%;
  float: left;
  color: #363b4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.tg-formmakeanoffer .form-group span {
  width: 80%;
  float: left;
  font-size: 16px;
  line-height: 24px;
}
.tg-formmakeanoffer .tg-inputwithicon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tg-formmakeanoffer .tg-inputwithicon .form-control {
  padding-left: 40px;
}
.tg-formmakeanoffer .form-group label {
  font-size: 14px;
  line-height: 20px;
}
.tg-formmakeanoffer .form-group label a {
  color: #55acee;
}
.tg-formmakeanoffer .form-group:last-child {
  margin: 0;
  z-index: 2;
  text-align: center;
}
/*==============================================
			News Grid Style						
==============================================*/
.tg-postsgrid {
  margin: -15px 0;
}
.tg-postsgrid .tg-post {
  margin: 15px 0;
}
.tg-allwidget {
  width: 100%;
  float: left;
  margin: 0 0 30px;
  background: #fcfcfc;
  border: 1px solid #eaedef;
  border-bottom: 0;
}
.tg-sidebar .tg-allwidget .tg-widget {
  margin: 0;
}
.tg-sidebar .tg-widgettitle {
  margin: 0;
  width: 100%;
  float: left;
  color: #363b4d;
  position: relative;
  background: #f7f7f7;
  padding: 10px 40px 10px 28px;
  border-bottom: 1px solid #eaedef;
}
.tg-sidebar .tg-widgettitle h3 {
  color: #363b4d;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
.tg-sidebar .tg-allwidget .tg-widgetcontent {
  padding: 20px;
  border-bottom: 1px solid #eaedef;
}
.tg-sidebar .tg-formtheme.tg-formsearch {
  padding: 0;
}
.tg-sidebar .tg-formtheme .form-group {
  margin: 0;
}
.tg-sidebar .tg-formtheme .form-group + .form-group {
  margin: 10px 0 0;
}
.tg-sidebar .tg-formtheme .form-group i {
  right: 0;
  left: auto;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tg-sidebar .tg-formsearch .form-group i {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.tg-sidebar .tg-formtheme .form-group .form-control {
  padding: 10px 40px 10px 10px;
}
.tg-widgetcontent ul {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.tg-widgetcontent ul li {
}
.tg-widgetcontent ul li a {
  width: 100%;
  float: left;
  color: #363b4d;
}
.tg-widgetcontent ul li a span {
  float: left;
}
.tg-widgetcontent ul li a span + span {
  float: right;
}
.tg-trendingpostsslider {
  width: 100%;
  float: left;
}
.tg-widgetcontent .tg-trendingpostsslider ul.tg-postmetadata {
  padding-bottom: 0;
}
.tg-widgetcontent .tg-trendingpostsslider ul li {
  width: auto;
  margin: 0 !important;
}
.tg-widgetcontent .tg-trendingpostsslider ul li a {
  float: none;
  width: auto;
}
.tg-trendingpostsslider .tg-post figure {
  border-radius: 0;
}
.tg-trendingpostsslider .tg-prev,
.tg-trendingpostsslider .tg-next {
  top: 30%;
  margin: 0;
}
/*==============================================
			News Grid Style						
==============================================*/
.tg-postslist {
  margin: -15px 0;
}
.tg-postslist .tg-post {
  margin: 15px 0;
}
.tg-postslist .tg-post figure {
  width: auto;
  border-radius: 0;
}
.tg-postslist .tg-postcontent {
  width: auto;
  float: none;
  overflow: hidden;
  padding: 20px 0 20px 30px;
}
.tg-postslist .tg-postcategories {
  padding-top: 0;
}
/*==============================================
			News Detail Style					
==============================================*/
.tg-boxleft {
  float: left;
}
.tg-boxright {
  float: right;
}
.tg-postdetail .tg-posttitle {
  padding: 0 0 10px;
}
.tg-postdetail .tg-postmetadata {
  padding: 0 0 20px;
}
.tg-postdetail figure {
  margin: 0;
  border-radius: 0;
}
.tg-postdetail:hover figure img,
.tg-postdetail:hover figure a img {
  opacity: 1;
}
.tg-postdetail .tg-postcategories {
  font-size: 16px;
  line-height: 20px;
}
.tg-postdetail .tg-description blockquote {
  margin: 0;
  border: 0;
  width: 100%;
  float: left;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding: 0 10% 30px;
}
.tg-postdetail .tg-description blockquote q {
  width: 100%;
  float: left;
  padding: 0 0 10px;
}
.tg-postdetail .tg-description blockquote span {
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.tg-postdetail .tg-description blockquote span a {
  color: #55acee;
}
.tg-author {
  width: 100%;
  float: left;
  padding: 30px 0;
  margin: 0 0 60px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.tg-author figure {
  float: left;
  margin: 0 20px 0 0;
  border-radius: 50%;
  position: relative;
}
.tg-author figure a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.tg-author figure a:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
  position: absolute;
  border: 6px solid rgba(255, 255, 255, 0.5);
}
.tg-author figure i {
  top: 0;
  left: 0;
  color: #fff;
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: #f91942;
}
.tg-authorcontent {
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #f7f7f7;
}
.tg-authorhead {
  width: 100%;
  float: left;
}
.tg-authorhead h3 {
  margin: 0 0 7px;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
}
.tg-authorhead span {
  color: #666;
  display: block;
  font-size: 14px;
  line-height: 14px;
}
.tg-authorcontent .tg-description {
  padding: 20px 0 0;
}
.tg-authorcontent .tg-description p {
  margin: 0;
}
.tg-comments {
  width: 100%;
  float: left;
  margin: 0 0 40px;
  padding: 0 0 40px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-comments > h2 {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 24px;
}
.tg-comments ul {
  width: 100%;
  float: left;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
.tg-comments > ul > li {
  width: 100%;
  float: left;
  line-height: inherit;
  list-style-type: none;
}
.tg-comments > ul > li + li {
  margin: 20px 0 0;
}
.tg-comments > ul > li .tg-author {
  border: 0;
  margin: 0;
  padding: 0;
}
.tg-child {
  margin: 0;
  list-style: none;
  padding: 20px 0 0 60px;
}
.tg-child li {
  list-style-type: none;
}
.tg-child > li + li {
  margin: 20px 0 0;
}
.tg-replaybox {
  width: 100%;
  float: left;
}
.tg-replaybox h2 {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 24px;
}
.tg-formreply .tg-inputwithicon .form-control {
  padding: 10px 10px 10px 40px;
}
.tg-formreply .tg-inputwithicon i {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}
.tg-btnreply {
  width: 36px;
  height: 36px;
  display: block;
  color: #363b4d;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.tg-btnreply i {
  width: 100%;
  float: left;
  line-height: inherit;
}
.tg-btnreply:hover,
.tg-btnreply:focus,
.tg-btnreply:active,
.tg-btnreply:hover i,
.tg-btnreply:focus i,
.tg-btnreply:active i {
  color: #fff;
}
/*==============================================
			Contact Us Style					
==============================================*/
.tg-content .tg-sectionheadvtwo {
  padding: 0 15% 30px;
}
.tg-formsearch {
  padding: 0 0 30px;
  position: relative;
}
.tg-formsearch .form-control {
  height: 50px;
  line-height: 30px;
  padding: 10px 50px 10px 20px;
}
.tg-formsearch button {
  top: 4px;
  right: 4px;
  color: #fff;
  width: 44px;
  height: 42px;
  border-radius: 4px;
  text-align: center;
  position: absolute;
}
.tg-formsearch button i {
  display: block;
  line-height: inherit;
}
.tg-faqarea {
  width: 100%;
  float: left;
  height: 605px;
  margin: 0 0 80px;
}
.tg-themecollapsefaq {
  padding: 0 0 80px;
}
.tg-collaptabpane {
  width: 100%;
  float: left;
  border-radius: 5px;
  background: #f5f5f5;
}
.tg-collaptabpane + .tg-collaptabpane {
  margin: 2px 0 0;
}
.tg-collaptabpane h3 {
  margin: 0;
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
}
.tg-collaptabpane h3 a {
  width: 100%;
  float: left;
  color: #444349;
  position: relative;
  padding: 19px 19px 19px 34px;
}
.tg-collaptabpane h3 a:hover,
.tg-collaptabpane h3 a:focus {
  color: #444349;
}
.tg-collaptabpane h3 a:before {
  top: 0;
  left: 0;
  width: 45px;
  height: 50px;
  content: "Q.";
  display: block;
  padding: 19px 0;
  line-height: 12px;
  text-align: center;
  position: absolute;
}
.tg-collapsecontent {
  width: 100%;
  float: left;
  padding: 0 15px 15px;
}
.tg-collapsecontent .tg-description {
}
.tg-collapsecontent .tg-description p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.tg-contactarea {
  width: 100%;
  float: left;
}
.tg-contactarea .tg-locationmap {
  height: 400px;
}
/*==============================================
			404 Error Style						
==============================================*/
.tg-breadcrumbarea {
  width: 100%;
  float: left;
  padding: 15px 0;
}
.tg-404content {
  width: 100%;
  float: left;
  padding: 0 15%;
}
.tg-404message {
  width: 100%;
  float: left;
  margin: 0 0 80px;
  padding: 0 0 94px;
  position: relative;
}
.tg-404message:before {
  left: 50%;
  bottom: 0;
  content: "";
  width: 230px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
  margin: 0 0 0 -115px;
}
.tg-404message h2 {
  margin: 0;
  color: #fff;
  float: left;
  font-size: 200px;
  line-height: 170px;
  position: relative;
  padding: 0 10px 8px;
}
.tg-404message h2:before {
  top: 0;
  left: 2%;
  width: 96%;
  z-index: -1;
  content: "";
  height: 100%;
  position: absolute;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.tg-404message h3 {
  margin: 0;
  color: #363b4d;
  font-size: 50px;
  font-weight: 500;
  line-height: 56px;
  overflow: hidden;
  padding: 0 0 0 20px;
}
.tg-404message h3 span {
  font-size: 70px;
  line-height: 60px;
}
.tg-form404search {
  width: 100%;
  float: left;
  margin: 0 0 30px;
  border-radius: 5px;
  border: 10px solid #ebebed;
}
.tg-form404search fieldset {
  width: 100%;
  float: left;
  position: relative;
}
.tg-form404search .form-control {
  border: 0;
  width: 100%;
  float: left;
  height: 60px;
  padding: 15px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 5px;
  padding-right: 200px;
}
.tg-form404search .tg-btn {
  top: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  width: 190px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  border-radius: 0 5px 5px 0;
}
.tg-404content .tg-description {
  text-align: center;
}
.tg-404content .tg-description span a {
  color: #55acee;
}
/*==============================================
			Coming Soon Style					
==============================================*/
.tg-comingsoonpage {
  width: 100%;
  float: left;
  padding: 50px;
}
.tg-comingsoonpage .tg-wrapper {
  padding: 25px;
  background: rgba(255, 255, 255, 0.5);
}
.tg-comingsoonpage .tg-wrapper:before,
.tg-comingsoonpage .tg-wrapper:after {
  display: none;
}
.tg-comingsoonpage .tg-main {
  background: rgba(255, 255, 255, 0.9);
}
.tg-comingsoonpage .tg-content {
  padding: 70px 0 0;
}
.tg-comingsooncontent {
  width: 100%;
  float: left;
  text-align: center;
}
.tg-logobox {
  width: 100%;
  float: left;
  margin: 0 0 50px;
  padding: 0 0 54px;
  position: relative;
}
.tg-logobox:before {
  left: 50%;
  bottom: 0;
  content: "";
  width: 230px;
  height: 4px;
  position: absolute;
  border-radius: 4px;
  margin: 0 0 0 -115px;
}
.tg-logobox .tg-logo {
  float: none;
  width: 270px;
  height: 53px;
  display: block;
  margin: 0 auto;
}
.tg-comingsooncounter {
  width: 100%;
  float: left;
  padding: 0 0 50px;
}
.tg-comingsooncounter ul {
  clear: both;
  margin: -15px;
  overflow: hidden;
  list-style: none;
  text-align: center;
}
.tg-comingsooncounter ul li {
  width: 25%;
  float: left;
  padding: 15px;
  list-style-type: none;
}
.tg-comingsooncounter ul li .tg-holder {
  width: 100%;
  float: left;
  border: 6px solid;
  padding: 43px 18px;
}
.tg-comingsooncounter ul li .tg-holder h3 {
  margin: 0 0 5px;
  font-size: 50px;
  font-weight: 500;
  line-height: 40px;
}
.tg-comingsooncounter ul li .tg-holder h4 {
  margin: 0;
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}
.tg-textbox {
  width: 100%;
  float: left;
}
.tg-textbox h5 {
  margin: 0;
  color: #363b4d;
  font-size: 50px;
  font-weight: 500;
  line-height: 36px;
}
.tg-textbox h5 span {
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px 0 30px;
}
.tg-btns {
  width: 100%;
  float: left;
}
.tg-btns .tg-btn {
  margin: 0 15px;
}
.tg-textbox .tg-description {
  padding: 0 0 30px;
}
.tg-textbox .tg-description p {
  margin: 0;
}
.tg-comingsooncontent .tg-copyright {
  padding: 70px 0 20px;
}
/*==============================================
			Packages Style						
==============================================*/
.tg-packages {
  width: 100%;
  float: left;
}
.tg-package {
  width: 100%;
  float: left;
  padding: 30px 0;
  text-align: center;
  position: relative;
}
.tg-package:before {
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 4px;
  content: "";
  position: absolute;
  visibility: hidden;
  background: url(../images/pettran-02.jpg) no-repeat;
}
.tg-packagehead {
  width: 100%;
  float: left;
  padding: 0 0 20px;
  border-bottom: 1px solid #dbdbdb;
}
.tg-packagehead h3 {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
.tg-packagehead h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
  line-height: 14px;
}
.tg-packagehead h4 span {
  font-size: 24px;
  line-height: 24px;
}
.tg-packagebody {
  width: 100%;
  float: left;
  padding: 30px;
}
.tg-packagebody ul {
  width: 100%;
  float: left;
  color: #666;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
}
.tg-packagebody ul li {
  width: 100%;
  float: left;
  line-height: inherit;
  list-style-type: none;
}
.tg-packagebody ul li + li {
  padding: 20px 0 0;
}
.tg-packagebody ul li strong {
  color: #666;
  display: block;
  padding: 0 0 3px;
  font-weight: 500;
}
.tg-packagebody ul li span {
  display: block;
}
.tg-packagefoot {
  width: 100%;
  float: left;
}
.tg-package:hover {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.tg-package:hover:before {
  opacity: 1;
  visibility: visible;
}
/*==============================================
			Login/Signup Style					
==============================================*/
.tg-loginsignup {
  width: 100%;
  float: left;
}
.tg-logingarea {
  width: 100%;
  float: left;
  margin: 0 0 40px;
  background: #fcfcfc;
  border: 1px solid #eaedef;
}
.tg-logingarea h2 {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  background: #f7f7f7;
  border-bottom: 1px solid #eaedef;
}
.tg-formloging {
  padding: 20px;
}
.tg-formloging .form-control {
  height: 50px;
  line-height: 28px;
}
.tg-formloging .tg-checkbox {
  width: auto;
  float: left;
}
.tg-forgetpassword {
  float: right;
  color: #55acee;
  font-size: 14px;
  line-height: 20px;
}
.tg-forgetpassword:hover,
.tg-forgetpassword:focus,
.tg-forgetpassword:active {
  color: #55acee;
}
.tg-formloging .tg-btn {
  z-index: 2;
}
.tg-loginsignup .tg-texbox {
  font-size: 16px;
  line-height: 26px;
}
.tg-loginsignup .tg-texbox strong {
  font-weight: 500;
}
.tg-videobox {
  width: 100%;
  float: left;
}
.tg-videobox figure {
  width: 100%;
  float: left;
  margin: 0 0 60px;
  position: relative;
}
.tg-videobox figure .tg-btnplayvideo {
  top: auto;
  border: 0;
  width: 80px;
  height: 80px;
  padding: 6px;
  bottom: -40px;
  font-size: 22px;
  position: absolute;
  margin: 0 0 0 -40px;
}
.tg-videobox figure .tg-btnplayvideo i {
  font-size: 22px;
  line-height: 68px;
}
.tg-loginsignup .tg-title h2 {
  text-align: left;
}
.tg-formregister .form-control {
  height: 50px;
  line-height: 28px;
  padding-left: 60px;
}
.tg-formregister i {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}
.tg-formregister .tg-checkbox input[type="checkbox"] + label {
}
.tg-formregister .tg-checkbox input[type="checkbox"] + label a {
  color: #55acee;
}
.tg-sociallogingsignup {
  width: 100%;
  float: left;
  color: #363b4d;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
.tg-sociallogingsignup li {
  width: 100%;
  float: left;
  line-height: inherit;
  list-style-type: none;
}
.tg-sociallogingsignup li + li {
  padding: 10px 0 0;
}
.tg-sociallogingsignup li a {
  width: 100%;
  float: left;
  position: relative;
  border-radius: 5px;
  background: #fcfcfc;
  line-height: inherit;
  border: 1px solid #eaedef;
  padding: 14px 14px 14px 60px;
}
.tg-sociallogingsignup li a i {
  top: 0;
  left: 0;
  color: #fff;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  text-align: center;
  border-radius: 5px 0 0 5px;
}
.tg-sociallogingsignup li a span {
  color: #666;
  display: block;
}
.tg-sociallogingsignup li a span strong {
  font-weight: 500;
}
.large-action-button {
  padding: 0 25px;
  font-size: 25px;
  font-weight: 600;
  line-height: 85px;
}
